/* ============================================ *
 * 13. Vc Tabs
 * ============================================ */
.vc_tta.vc_tta-tabs.vc_general{
  .vc_tta-tabs-container{
    display: block !important;
  }
  .vc_tta-panel-heading{
    display: none !important;
  }
}

.vc_tta-style-classic.vc_tta-tabs[class*=vc_tta-color]{
    .vc_tta-tab{
      > a{
        color: $color_d;

        &:hover,
        &:focus{
          background: transparent;
          color: $color_a;
        }
      }
    }

    .vc_tta-tab.vc_active{
      > a{
        color: $color_d;

        &:hover,
        &:focus{
          color: $color_d;
        }
      }
    }
}

.vc_general.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top.vc_tta-style-classic .vc_tta-tabs-container, 
.vc_general.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top.vc_tta-style-modern .vc_tta-tabs-container,
.vc_general.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tabs-container{
    margin-bottom:10px;
}

.vc_tta-controls-align-right{
    text-align: right;
}

vc_tta-controls-align-center{
  text-align: center;
}




/*********************************
 * Tabs styling
 ********************************/
.nth-tab-style1, .nth-tab-style2, .nth-tab-style3 {
  .vc_tta-tabs-container {
    ul.vc_tta-tabs-list {
      overflow: visible;
      li.vc_tta-tab {
        margin: 0;
        a{
          text-transform: uppercase;
          font:	700 14px $font-custom-a;
          padding: 12px 20px 11px;
          min-height: 40px;

          @media (max-width: $screen-xs-max) { // max 767px
            display: block;
          }

          span.vc_tta-title-text {
            text-transform: uppercase;
          }
          &:before, &:after {
            display: none ;
          }
          &:hover {
            //background: transparent;
            color: $color_a;
          }
        }
      }
    }
  }


  .vc_tta-panels-container{
    .vc_tta-panels {
      font: 12px/20px $font-family;
    }
  }

  &.vc_tta-tabs.vc_tta-tabs-position-top {
    .vc_tta-tabs-container {
      overflow: visible;
    }
  }

  &.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top {
    .vc_tta-tab.vc_active > a{
      &::before, &::after {
        display: none;
      }
    }
  }
}

/*********************************
 * 13.1. Tabs styling 1
 ********************************/
.vc_tta-tabs.nth-tab-style1 {
  ul.vc_tta-tabs-list {
    background: $color-7;
    @include border_radius( 5px );
    &:before, &:after{
      display: none;
    }
    li.vc_tta-tab {
      @include border_radius( 0 );
      border: none;
      padding: 0;
      margin: 0;
      background: transparent;
      @media (max-width: $screen-xs-max) { // max 767px
        width: 50%;
        @include border_radius( 5px );
        &:nth-child(2) {
          @include border_radius( 5px );
        }
      }

      //span.vc_tta-title-text {
      //  color: $color_d;
      //}

      & > a {
        @include border_radius( 0 );
        background: transparent;
        border: none;
      }

      &:before, &:after{
        display: none;
      }

      &.vc_active {
        & > a {
          background-color: $color_light;
          z-index: 9;
          @include box_shadow( $main_boxshahow );

        }
      }

      &:first-child {
        a {
          border-radius: 5px 0 0 5px !important;

        }
      }

    }

  }

  .vc_tta-panels-container{
    @include box_shadow( none );
    .vc_tta-panels {
      .vc_tta-panel-heading {
        border: none;
      }

      .vc_tta-panel-body {
        padding: 18px 0;
        border: none;
      }

      .vc_tta-panel.vc_active {
        .vc_tta-panel-heading {
          @include box_shadow( $main_boxshahow );
          background: $color_light;
          border-radius: 5px;
        }
      }
    }

  }

  &.vc_tta.vc_tta-style-classic.vc_tta-tabs {
    .vc_tta-panels {
      border: none;
      background: transparent;
    }
  }

  &.vc_tta-color-grey.vc_tta-style-classic  {
    .vc_tta-panel{
      .vc_tta-panel-heading {
        border: none;
        background-color: $color-7 ;
      }
    }
  }

}

/*********************************
 * 13.2. Tabs styling 2
 ********************************/
.vc_tta-tabs.nth-tab-style2 {
  &.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top {
    .vc_tta-tab>a{
      @include border_radius(4px);
    }
  }
  ul.vc_tta-tabs-list {
    li.vc_tta-tab{
      //span.vc_tta-title-text {
        //color: $color_d_light;
      //}
      & > a {
        @include border_radius(4px);
        background: transparent;
        border: none;
        color: $color_d_light;
      }

      &.vc_active {
        & > a {
          background-color: $color_light;
          border: 0;
          color: $color-6;
          @include box-shadow(0 1px 2px 1px rgba(0,0,0,.1));
          &:before, &:after {
            display: none ;
          }

          &:hover,
          &:focus{
            background-color: $color_light;
            color: $color-6;
          }
        }
      }


    }
  }

  .vc_tta-panels-container{
    @include box_shadow( none );
    .vc_tta-panels {
      .vc_tta-panel-heading {
        @include border_radius( 0 ) ;
      }
      .vc_tta-panel-body {
        padding: 18px 0;
        border: none;
      }
    }
  }

  &.vc_tta.vc_tta-spacing-1 .vc_tta-panel.vc_active, .vc_tta.vc_tta-spacing-1 .vc_tta-panel:not(:last-child){
    .vc_tta-panel-heading {
      margin-bottom: 0;
    }
  }

  &.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active>a {
    //border-bottom-color: $color_e;
  }

  &.vc_tta-color-grey.vc_tta.vc_tta-style-classic.vc_tta-tabs{
    .vc_tta-panels {
      border: none;
      background: transparent;
      .vc_tta-panel{
        .vc_tta-panel-heading {
          background: transparent;
          border: none;
        }
        &.vc_active {
          .vc_tta-panel-heading {
            background-color: $color_light ;
            border: 1px solid $color_e;
            .vc_tta-panel-title {
              & > a {
                color: $color-6;
              }
            }

          }
        }
      }
    }
  }

}

/*********************************
 * 13.3. Tabs styling 3
 ********************************/
.vc_tta-tabs.nth-tab-style3 {
  @include border_radius( 5px );
  border: 1px solid $color_e;

  &.vc_tta.vc_tta-tabs {
    .vc_tta-tabs-container {
      margin-right: 0 !important;
      @include border_radius( 5px );

      @media (min-width: $screen-sm-min ) {
        display: inline-block;
        width: 100%;
        float: left;
      }
      ul.vc_tta-tabs-list {
        background: transparent;
        li.vc_tta-tab{
          /*width: 33.3333%;*/

          & > a {
            @include border_radius( 0 );
            @include box-shadow( 0 3px 10px 0px rgba(168,168,168, 0.15));

            /*border: none;*/
            border-right: none;
            border-left: 1px solid $color_e;
            border-bottom: 1px solid $color_e;
            background: $color_f;
          }
          //span.vc_tta-title-text {
          //  color: $color_d;
          //}

          &.vc_active {
            & > a {
              /*border: 1px solid $color_e;*/
              background: $color_light;
              /*@include border_radius( 5px );*/
            }
          }

          &:first-child {
            a {
              @include border_radius( 5px 0 0 0 );
            }
          }
        }
      }
    }

  }

  .vc_tta-panels-container{
    .vc_tta-panels {
      .vc_tta-panel-heading {
        @include border_radius( 0 );
        @include box-shadow( 0 3px 10px 0px rgba(168,168,168, 0.15));

        /*border: none;*/
        border-right: none;
        border-left: 1px solid $color_e;
        border-bottom: 1px solid $color_e;
        background: $color_f;
      }
    }
  }

  &.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active>a {
    border-top-color: $color_e;
    border-bottom-color: $color_e;
  }

  &.vc_tta.vc_tta-spacing-1 .vc_tta-panel.vc_active .vc_tta-panel-heading, &.vc_tta.vc_tta-spacing-1 .vc_tta-panel:not(:last-child) .vc_tta-panel-heading {
    margin-bottom: 0;
  }

  &.vc_tta-color-grey.vc_tta-style-classic {
    .vc_tta-panel {
      .vc_tta-panel-heading {
        @include box-shadow( 0 3px 10px 0px rgba(168,168,168, 0.15));
      }

      &.vc_active {
        .vc_tta-panel-heading {
          background: $color_light;
        }
      }
    }

  }

  @media (max-width: $screen-xs-max) {
    overflow: hidden;
    &.vc_tta-color-grey.vc_tta.vc_tta-style-classic.vc_tta-tabs{
      .vc_tta-panels {
        .vc_tta-panel {
          .vc_tta-panel-heading {
            background-color: $color_f;
            border: none;
            .vc_tta-panel-title > a{
              @include box-shadow( 0 3px 10px 0px rgba(168,168,168, 0.15));
              z-index: 9;
              /*background: $color_f;*/
            }
          }

          .vc_tta-panel-body {
            border-top: none;
            border-left: none;
            border-right: none;
            background: $color_light;
            border-bottom: 1px solid #color_e;
            @include  border_radius (0);
          }

          &.vc_active {
            .vc_tta-panel-heading {
              border-bottom: 1px solid $color_e;
              background: $color_light;
            }

          }
        }
      }
    }
  }
}

.nth-section-style1 {
  &.vc_tta-style-classic {
    .vc_tta-tabs-container {

      margin: 0;
      ul.vc_tta-tabs-list {
        overflow: visible;
        li.vc_tta-tab {
          margin: 0;

          & > a {
            text-transform: uppercase;
            font:	700 14px $font-custom-a;
            border: none;
            //background: $color-7;
            @include border-radius( 0);
            padding: 12px 20px 11px;
            min-height: 40px;

          }

          &:first-child {
            & > a {
              @include border-radius( 5px 0 0 0);
            }
          }

          &:last-child {
            & > a {
              @include border-radius( 0 0 0 5px);
            }
          }


          &.vc_active {
            & > a {
              background: none;
              z-index: 9;
              background: $color_light;
              border-radius:  5px 0 0 5px ;
              @include box_shadow( $main_boxshahow );
            }
          }

        }
      }
    }

    .vc_tta-panels-container {
      .vc_tta-panels {
        .vc_tta-panel {
          .vc_tta-panel-heading {
            background: $color-7;
            margin: 0;
            border: none;
            @include border_radius( 5px );
            .vc_tta-panel-title > a {
            }
          }
          .vc_tta-panel-body {
            margin: 0;
            border-top: none;
            border-bottom: none;
          }

          &.vc_active {
            .vc_tta-panel-heading {
              background: $color_light;
              .vc_tta-panel-title > a {
                @include border_radius( 5px );
                @include box_shadow( $main_boxshahow );
                z-index: 9;
              }
            }
          }
        }
      }
    }

  }

  &.vc_tta-color-grey.vc_tta-style-classic{
    .vc_tta-tabs-container {
      ul.vc_tta-tabs-list {
        li.vc_tta-tab {
          & > a {
            background: $color-7;
          }

          &.vc_active {
            & > a {
              background: $color_light;
            }
          }
        }
      }
    }
  }

  &.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container {
    overflow: visible;
  }
}

.vc_tta-accordion.vc_tta-color-grey.vc_tta-style-classic {
  .vc_tta-panels-container {
    .vc_tta-panel {

      .vc_tta-panel-heading {
        background: $color_f;
        border-color: $color_f_drak;

        .vc_tta-panel-title {
          text-transform: uppercase;
          & > a {
            color: $color_d_light;
            padding: 14px 20px 12px;
            min-height: 40px;
            .vc_tta-controls-icon {
              left: auto;
              right: 20px;
            }

            &:hover,
            &:focus{
              color: $color_a;
            }
          }
        }
      }
      .vc_tta-panel-body {
        background: $color_light;
        border-color: $color_f_drak;
        border-top: none;
      }

      &.vc_active {
        .vc_tta-panel-heading {
          background: $color_light;

          .vc_tta-panel-title {
            & > a {
              @include box_shadow( $main_boxshahow );
              z-index: 10;
              color: $color-6;
            }
          }
        }
      }

    }
  }
}

/*********************************
 * 13.4. Tabs Home 3
 ********************************/
.vc_tta-style-classic.vc_tta-tabs.vc_general  {
  &.nth-tab-style4, &.nth-tab-style5 {
    .vc_tta-panels {
      background-color: transparent;
      border: none;
      .vc_tta-panel {
        margin: 0;
        .vc_tta-panel-body {
          padding: 0;
          border: none;
          overflow: visible;
        }
      }
    }
    .vc_tta-tab{
      & > a {
        background: transparent;
        border: none;
        padding: 0 0 8px 0;
        margin: 0 20px 0 0;

        @media (max-width: $screen-xs-max) {
          margin: 0 7px 0 0;
        }

        font-family: $font-custom-a;
        font-size: 20px;
        line-height: 1em;
        font-weight: 700;

        text-transform: uppercase;
        color: $color_d_light;
        &:hover, &:active {
          background: transparent;
          color: $color_a;
        }

      }
      &.vc_active > a {
        background: transparent;
        color: $color_a;
        &:hover, &:active {
          background: transparent;
        }
        &:after{
          content: '';
          position: static !important;
          //position: absolute;
          //top: 100%;
          //left: 0 !important;
          width: 100%;
          height: auto;
          display: block !important;
          border-top: 3px solid $color_a;
          margin-top: 10px;
        }
      }
    }
    .vc_tta-spacing-1 .vc_tta-tab {
      margin: 0;
    }

    &.vc_tta-tabs-position-top {
      .vc_tta-tabs-container, .vc_tta-tabs-list {
        overflow: visible;
      }
    }

    .text-center{
      .vc_tta-tab > a{
        margin: 0 10px;
      }
    }

  }

  &.nth-tab-style5{
    .vc_tta-tab.vc_active {
      & > a:after {
        margin: 10px auto 0;
        width: 40px;
      }
    }
  }

}

