/* 4. Default Menu */
.pc-menu{
  ul, ol{
    list-style: none;
  }
  > .menu{
    padding: 0;
    list-style: none;
    margin: 0;

    div[class*=vc_col-sm-]{
      //padding: 0 20px;
      // Make padding 20px same design: 5px + 15px .vc_column-inner
      padding-left: 5px;
      padding-right: 5px;
    }
    .vc_row{
      margin-left: -20px;
      margin-right: -20px;
    }

    li.current-menu-item,
    li.current_page_item{
      > a{
        color: $color_a;
      }
    }

    > li{
      display: inline-block;
      position: relative;
      padding: 0 0 0 20px;
      line-height: 38px;
      position: relative;
      small.nav_desc {
        display: none;
      }
      img {
        display: inline-block;
        margin-right: 5px;
      }
      &:first-child{
        padding-left: 0;
      }
      > a {
        text-decoration: none;
        display: inline-block!important;
        font-size: 13px;
        font-weight: 500;
        //font: 500 13px $font-family;
      }
      
      &.current-menu-item {
        > a{
          color: $color_a;
        }
      }
      &:hover{
        > a{
          color: $color_a;
        }
        z-index: 1600;
      }
      &:before{
        margin-right: 5px;
      }
    }

    li.menu-item-has-children{
      padding-right: 12px;
      position: relative;
      > a{
        position: relative;
        z-index: 2;
        display: block;
      }
      .menu-drop-icon{
        position: absolute;
        //top: -9px;
        top: 0;
        right: 0;
        padding: 10px 0 10px 5px;
        text-align: right;
        z-index: 3;
        &:before{
          content: "\f0d7";
          font-size: 12px;
          font: normal normal normal 14px/1 FontAwesome;
          margin-left: 5px;
        }
      }

      .sub-menu{
        position: absolute;
        top: 100%;
        left: 0;
        padding: 12px 0;
        @include border_radius(5px);
        @include box_shadow(1px 0 3px -2px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0,0,0,.1));
        //border: $main_border;
        background: #fff;
        width: 234px;
        text-align: left;
        /*@include opacity(0);
        visibility: hidden;
        @include transition(all .5s ease);*/
        display: none;
        text-transform: none;
        z-index:-1;

        @media (min-width: $screen-md) {
          max-width: 940px;
        }

        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          max-width: 720px;
        }
        @media (min-width: $screen-lg) {
          max-width: 1170px;
        }
        &:before{
          content:"";
          @include box_shadow( 0 12px 16px -10px rgba(0, 0, 0, 0.1) inset);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index:0;
        }
        li.menu-item-has-children{
          .menu-drop-icon{
            right: 20px;
            top: 0;
          }
        }


        .sub-menu{
          top: -12px!important;
          left: 100%;
          list-style: none;
          /*@include opacity(0);
          visibility: hidden;
          @include transform(translatex( 20px )) ;*/
          //@include border_radius(0 5px 5px 0);

          &.nth-pos-left{
            left: auto;
            right: 100%;
            //@include border_radius(5px 0 0 5px);

          }
        }
        > li{
          ul {padding-left: 0px;}
          padding: 11px 20px;
          line-height: normal;
          > a{
            display: block;
            position: relative;
          }
        }

        > li.menu-item{
          .sub-menu{
            @include transform(translatex(0)) ;
          }
        }

        li{
          a{
            &:after{
              position: absolute;
              top: 2px;
              right: 0;
            }
          }
          a.nth_quickshop_link{
            position: absolute;
            display: inline-block;
          }

          &:hover{
            > a{
              color: $color_a;
            }
          }
        }
        &.nth-width-1 {
          width: 234px;
        }
        &.nth-width-2 {
          width: 468px;
        }
        &.nth-width-3 {
          width: 702px;
        }
        &.nth-width-4 {
          width: 934px;
        }
        &.nth-width-5 {
          width: 1170px;
        }

      }

      &.menu-bg-over{
        > .sub-menu{
          background-color: transparent !important;
          list-style: none;
          @include box-shadow(none);
          border: 0;
          &:before{
            display: none;
          }
          &.nth-width-2{
            width: 557px;
          }
        }
      }

      &:hover{
        > .menu-drop-icon{
          color: $color_a;
          &:before{
            content: "\f0d7";

          }
        }
        > .sub-menu{
          /*@include opacity(1);
          visibility: visible;
          top: 100%;  */
          z-index: 9;
          display: block;
          @include nthanimated(nthfadeInDown);
        }
      }

      .menu {
        padding-left: 0;
      }

    }
    >li.menu-item-has-children{
      > .menu-drop-icon{
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    p{ line-height: 16px;}
    .menu {
      > li{
        line-height: normal;
        padding-bottom: 22px;
      }
    }

    li.nth-mega-menu{
      > .sub-menu{
        list-style: none;
        padding: 17px 0;
      }
      .wpb_wrapper > ul > li,
      li.menu-item{
        //padding: 0 12px 20px 0;
        padding: 0 0 20px 0;
        ul,
        .sub-menu{
          position: static;
          background: none;
          list-style: none;
          @include border_radius( 0);
          @include box_shadow( none);
          border: none;
          padding: 0 0 0 10px;
          display: block!important;
          z-index:-1;
          width: 100%;
          -webkit-animation: none;
          animation: none;
          &:before{
            display: none;
          }
          a:after {
            display: none;
          }

          > li{
            padding: 7px 0 0;
          }
        }
      }

      .sub-menu{
        li{
          a{
            font-size: 14px;
          }
        }
        .menu > li,
        .wpb_wrapper > ul > li,
        li.menu-item-has-children{
          >a{
            font-weight: 700;
          }
        }

        .menu > li .sub-menu > li > a{
          font-weight: 400;
        }

        h3{
          /*font-size: 14px;*/
          color: $color_d_drak;
        }

        .heading-title{
          text-transform: none;
          padding-bottom: 14px;
          //&:after{
          //  display: none;
          //}
        }
      }
    }

    &.menu-vertical-menu {
      > li {
        padding: 0 15px 0 15px;
        line-height: 50px;
        margin-right: -4px;
        &.menu-item-has-children {
          padding-right: 28px;
          span.menu-drop-icon {
            padding: 0px 14px 0px 0;
            &:before {
              margin-left: 0;
            }
          }
        }

        &.current-menu-item{
          background: $color_f;
        }

        > a{
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

    li {
      .alignleft {
        margin: -21px 10px 10px 0;
      }
    }
  }

  .menu {
    list-style: none;
  }
}

span.lb-menu {
  font-size: 10px;
  text-transform: uppercase;
  @include border-radius(3px);
  color: #fff;
  position: relative;
  top: -9px;
  padding: 0 2px;
  margin-left: 5px;
  display: inline-block;
  line-height: normal;
  @include transition(all 0.2s ease);
  &:before{
    content: '';
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  &.lb_new{
    background:#3a83d4;
    &:before{
      border-color: transparent transparent transparent #3a83d4;
    }
  }
  &.lb_sale{
    background:#fd6282;
    &:before{
      border-color: transparent transparent transparent #fd6282;
    }
  }
}

/* Mega menu */

/* 4.1. Vertical Menu */
.nth-menu-vertical {
  .vertical-menu-wrapper {
    position: relative;
    .vertical-menu-dropdown {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 38px;
      background-color: #f6f6f6;
      padding: 0 15px;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      font-weight: normal;
      color: #5d5d5d;
      &:before {
        @include transition(all .5s ease);
        content: "\f0d8";
        font-family: "FontAwesome";
        position: absolute;
        right: 15px;
        line-height: 34px;
      }
    }

    .vertical-menu-dropdown:before {
      content: "\f0dd";
    }

    .vertical-menu-inner {
      display: none;
      @include nthanimated(nthfadeInDown);
    }

    &.active {
      .vertical-menu-dropdown:before { content: "\f0d8"; line-height: 38px;}
      .vertical-menu-inner { display: block; }
    }

  }

  .vertical-menu-inner {
    display: none;
    position: absolute;
    background-color: #fff;
    @include border_radius(0 0 3px 3px);
    //@include box_shadow( 0  1px 3px 1px rgba(0, 0, 0, 0.15) );
    //border: solid 1px #eaecec;
    z-index: 999;
    //border-top-color: #dfdfdf;
    width: 100%;
    top: 100%;
    left: 0;
    /*@include opacity(0);
    visibility: hidden;
    @include transition(all .5s ease);*/

    &:before{
      content:"";
      @include box_shadow( 0 12px 16px -10px rgba(0, 0, 0, 0.1) inset);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:0;
    }
    &:hover{
      @include border_radius(0 0 0 3px);
    }

    > ul.menu {
      padding: 18px 0 11px 0;
      margin: 0;
      list-style: none;
      position: relative;
      float: left;
      width: 100%;
      @include box-shadow(0 2px 2px 1px rgba(0,0,0,.1));
      border: solid 1px transparent;
      border-top-color: #dfdfdf;
      @include border_radius(0 0 3px 3px);

      > li {
        padding: 0 15px 9px;
        display: block;
        position: static;
        line-height: normal;
        clear: both;
        float: left;
        width: 100%;
        @include transition(all 0.2s ease);

        &.menu-item-has-children{
          > a{
            //width: 85%;
            margin-right: -12px;
            padding-right: 10px;
          }
        }

        img {
          padding-top: 5px;
        }

        > a {
          text-decoration: none;
          color: $color_d_drak;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          position: relative;
          line-height: 24px;
          overflow: hidden;
          //padding-right: 20px;
          //padding-right: 10px;
          padding-top: 3px;
          font-size: 14px;

          @include transition(all 0.2s linear);
          float: left;
          width: 100%;
          &:after{
            position: absolute;
            top: 5px;
            right: 0;
            display: none;
          }

          > span{
            display: inline-block;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 5px 32px 0 0;
            vertical-align: middle;
            position: relative;

            span.lb-menu{
              position: absolute;
              right: 0;
              top:4px;
            }
          }
        }
        .menu-drop-icon{
          float: right;
          //width: 15%;
          width: 12px;
          padding: 13px 0 0;
          text-align: right;
          position: static;
          //line-height: 24px;
          &:before{
            content: "\f0da";
            font-size: 12px;
            font: normal normal normal 12px/1 FontAwesome;
            margin-left: 5px;
          }
        }
        small.nav_desc {
          font-size: 12px;
          color:  $color_d_light;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          height: 0;
          @include opacity(0);
          margin-top: 0;
          clear: both;
          @include transition(all 0.2s ease);
        }
        &.current-menu-item,
        &:hover{
          background: #f6f6f6;
          > a {
            //font-size: 20px;
            font-size: 15px;
            color: #5a9e74;
            //color: $color_a;

          }
          small.nav_desc {
            display: block;
            @include opacity(1);
            height: auto;
            padding-bottom: 3px;
          }
          > .menu-drop-icon{
            color: $color_a;
            &:before{
              content: "\f0d9";
              font-size: 10px;
            }
          }
        }
        > .sub-menu{
          top: -1px;
          left: 100%;
          @include border_radius(0 0 5px 0);
          border: none;
          //@include box_shadow( $main_boxshahow );
          border-left: $main_border;
          min-height: calc(100% + 2px);
          background-size: 100% 100% !important;
          @include box-shadow(1px 1px 2px 1px rgba(0,0,0,.1));
          border-top: 1px solid $color_e;

          @media (max-width: $screen-md-max) {
            max-width: 720px;
          }

          @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            max-width: 550px;
          }

          section.product{
            //width: 50%!important;
          }
        }
      } 

      li.menu-item-has-children {
        .sub-menu {
          &.nth-width-1 {
            width: 260px;
          }
          &.nth-width-2 {
            width: 520px;
          }
          &.nth-width-3 {
            width: 780px;
          }
          &.nth-width-4 {
            width: 840px;
          }
          &.nth-width-5 {
            width: 975px;
          }
          &.nth-width-6 {
            width: 1170px;
          }
        }

      }
    }
  }


}
