/*********************************
 * 3. Page Css
 ********************************/
/*********************************
 * 3.1. Footer page
 ********************************/
body.page {
    #footer {
        margin-top:0;
    }
    .blog-template, &.woocommerce-page #container{ padding-bottom: 47px;}
}

@media (max-width: $screen-xs-max) { // max 767px
    body.page {
        &.woocommerce-page #container{
            padding-bottom: 30px;
        }
    }
}

.page-template #footer{
    margin-top:47px;
}
#footer {
    font-size: 13px;
    margin-top:47px;
    //p:last-child{ padding-bottom: 20px!important}
    ul, ol{
        list-style: none;
    }
    ul, ul.menu {
        padding: 0;
        li {
            padding: 10px 0px;
        }
    }

    .list-inline>li{
        padding-left:5px;
        padding-right: 15px
    }

    .nth-product-categories-wrapper {
        padding: 13px 0;
        a{
            color: $color_d_light;
            margin: 0 4px;
            &:hover{
                color: $color_a;
            }
        }
    }
    .footer-1 {
        background: #ffffff;
    }

    .footer-copyright {
        padding: 20px 0;
        font-size: 11px;
        text-transform: uppercase;
    }
}

// Css table div
.display-table{
    display: table;

    .table-cell{
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
    }
}
@media (max-width: $screen-xs-max) {
    .footer-copyright{
        *{
            text-align:center!important;;
        }
        .display-table{
            display: block;
            .table-cell{
                display: block;
                text-align:center;
                padding-bottom: 8px;
            }
        }
    }
}

/* JS_COMPOSER*/
body {
    .wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{
        margin-bottom: 10px;
    }
}
.wpb_start_animation.wpb_top-to-bottom{
    background: #fff;
}

/* END  JS_COMPOSER*/


/* 3.2. Boostrap */
.label{
    color: $color_d_drak;
    font-size: 100%;
}

.nth-shortcode {
    &.nth-infobox{
        padding-left: 50px;
        position: relative;
        padding-bottom: 10px;
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
            padding-left: 0;
        }
        + .nth-infobox {
            padding-top: 10px;
            .nth-icon{
                top: 10px;
            }
        }
        .nth-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height:40px;
            text-align: center;
            @include border_radius(5px);
            background: #ececec;
            color: $color_d;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
                position: static;

                display: block;
                margin-bottom: 5px;
            }
            &:before{
                line-height: 40px;
                font-size: 18px;
            }
        }
        h3{
            font-weight: 700;
            font-size: 14px;
            color: $color_d;
        }
        p{
            margin-bottom: 0;
        }
    }
    &.theshopier_testimonials{
        .testimonials-item{
            margin-bottom: 15px;
            h3{
                font-weight: bold;
            }
            .description{
                @include box_shadow( 0 1px 3px 0 rgba(0, 0, 0, 0.2) );
                @include border_radius( 5px );
                padding: 15px 20px;
                position: relative;
                margin-bottom: 15px;
                background: #f6f6f6;
                &:before{
                    content:"";
                    background-color: #f6f6f6;
                    @include box_shadow( 2px 2px 3px -1px rgba(0, 0, 0, 0.2) );
                    width: 13px;
                    height: 13px;

                    /* Translate the box up by width / 2 then rotate */
                    -webkit-transform: translateY(-13px) rotate(45deg);
                    position: absolute;
                    bottom: -19px;
                    left: 25px;
                }
            }
        }

    }
    .nth_products_categories_shortcode{
        h3.heading-title{
            float: left;
            //padding-bottom: 5px;
        }
        .shortcode-woo-tabs{
            float: right;
            margin-bottom: 20px;
            margin-top: -7px;
        }
        .nth-shortcode-content{
            clear: both;
        }

        @media (max-width: $screen-xs-max) { // max 767px
            h3.heading-title,
            .shortcode-woo-tabs{
                float: none;
            }
        }
    }
    &.nth-banner{
        //margin-bottom: 10px!important;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        text-align: center;

        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
      
        figure{
            margin: 0;
            position: relative;
            overflow: hidden;
            > img{
                @include transition(all 1s) ;
                width: 100%;
            }
            /*&:after{
                content:"";
                background: rgba(0,0,0,.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                @include opacity(0);
                @include transition(all 1s) ;
            }
            &:before{
                content:"";
                background: rgba(0,0,0,.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                @include opacity(0);
                @include transition(all 1s) ;
            }*/
        }
        figcaption{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 6;
            img{
                margin: 0;
            }
            p{
                color: inherit;
                margin: 0;
            }
            div{
                position: absolute;
                top: 50%;
                left: 0;
                text-align: center;
                width: 100%;
                @include transform( translate3d(0, -50%, 0 ) );

                h3{
                    font-size: 30px;
                    color: inherit;
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                        font-size: 40px!important;
                    }
                }

            }
        }
        &:hover{
            figure{
                /*&:before, &:after{
                    @include opacity(1);
                }*/
                > img{
                    @include transform(  scale3d(1.1,1.1,1) );

                }
            }
        }
    }
    &.widget_boxed {
         p > img { 
            @include transition(all 1s ease 0s);
            margin-bottom: 10px;
         }
        &:hover {
            p > img {
                 @include transform(  scale3d(1.1,1.1,1) );
            }
        }
    }
    &.columns-2{
        .products.list{
            section.product{
                width: 50%!important;
                @media (max-width: $screen-xs-max) { // max 767px
                    width: 100%!important;
                }
                .product-inner{
                    .product-meta-wrapper, .product-thumbnail-wrapper{
                        width: 50%!important;
                    }
                }
                @media (max-width: $screen-xs-max) { // max 767px
                    .product-inner{
                        .product-meta-wrapper, .product-thumbnail-wrapper{
                            width: 100%!important;
                        }
                    }
                }
            }
            &.owl-carousel{
                section.product{
                    width: 100%!important;
                    .product-inner{
                        .product-meta-wrapper, .product-thumbnail-wrapper{
                            @media (max-width: $screen-xs) {
                                width: 100%!important;
                            }
                        }
                    }
                }
            }
        }

    }
    &.nth-brands{
        .heading-title{
            //padding-bottom: 10px;
            //&:after{
            //    display: none;
            //}
        }
        .nth-owlCarousel{
            width: auto;
        }
        .item-inner{
            @include border_radius(5px);
            @include box_shadow( 0 1px 3px 0 rgba(0, 0, 0, 0.2) );
            text-align: center;
            background: #fff;
            padding: 10px;

        }

        @media (max-width: $screen-xs-max) {
            //.heading-title{
            //    text-align: center;
            //}

            .nth-owlCarousel{
                margin-left:-15px;
                margin-right: -15px;
            }
            
        }
    }
    &.recent-post{
        .heading-title{
            padding-bottom: 15px;
            //&:after{
            //    display: none;
            //}
        }
        //@media (max-width: $screen-xs-max) {
            //.heading-title{
                //text-align: center;
            //}
        //}
    }
    &.nth-pricing{
        ul.nth-pricing-ul{
            @include border_radius(5px);
            @include box_shadow( 0 1px 3px -1px rgba(0, 0, 0, 0.2));
            background: #fff;
            border: 1px solid #dedede;
            text-align: center;
            margin-bottom: 50px;
            border-top-color: #f0f0f0;

            li{
                padding: 9px 0 8px;

                &:first-child {
                    @include border_radius(5px 5px 0 0);
                    margin: 0 ;
                }

                &.pricing-label{
                    background: #d13434;
                    font: 700 20px/40px $font-custom-a;
                    color: #fff;
                    text-transform: uppercase;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    padding: 0 10px;
                }

                &.widget-heading{
                    border-bottom: 1px solid #dedede;
                    @include box_shadow( 0 1px 3px -1px rgba(0, 0, 0, 0.2) );
                    font: 700 20px $font-custom-a;
                    color: $color_d_drak;
                    text-transform: uppercase;
                    background: #f6f6f6;
                    h3{
                        margin-bottom: 0;
                    }

                    .heading-title{
                        padding-bottom: 0;
                        //&:after{
                        //    display: none;
                        //}
                    }
                }
                &.desc{
                    font: 700 20px $font-custom-a;
                    color: $color_a;
                    text-transform: uppercase;
                    padding: 0 0 15px;
                }
                &.price-buttons{
                    padding: 20px 0;
                    border-top: 1px dashed #dedede;
                    margin: 0 20px;
                    a{
                        @extend %button-large;
                        padding: 9px 20px;
                        display: block;
                    }
                }
                &.feature{
                    padding: 5px 0;
                    border-top: 1px dashed #dedede;
                    margin: 0 20px;
                    .nth-more-info{
                        @include border-radius(50%);
                        @include box_shadow( 0 1px 3px rgba(0, 0, 0, 0.2) );
                        background: #fff;
                        width: 15px;
                        line-height: 15px;
                        text-align: center;
                        display: inline-block;
                        cursor: default;
                        position: relative;
                        top: -4px;
                    }
                }
                &.prices {
                    font: 700 20px $font-custom-a;
                    color: $color_d_drak;
                    padding: 15px 0 8px;

                    .pricing{
                        font-size: 70px;
                        letter-spacing: -1.5px;
                    }
                    .mark{
                        background: none;
                        padding: 0;
                    }
                    .currency_symbol{
                        font: 700 20px $font-custom-a;
                        padding: 0;
                        top: -35px;
                    }
                }

            }
            &.popular{
                margin-top: -40px;
            }
        }
    }
    &.nth-action{
        height:40px;
        text-transform: uppercase;
        color: #fff;
        background: #ff6c00;
        position: relative;
        span{
            padding: 0 140px 0 20px;
            width: 100%;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        a{
            width: 130px;
            background: #45b470;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 40px;
            padding: 0 5px;
            color: #fff;
            font-weight: 700;
            position: absolute!important;
            top: 0;
            right: 0;
            text-align: center;

            &:hover{
                @include opacity(.9);
            }
        }
    }
}

.nth-countdown{
    font-size: 12px;
    margin: 0;
    padding: 7px 15px 4px;
    display: inline-block;
    background: #fff9dd;
    /*@include border_radius(3px);*/
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    clear: both;
    strong {white-space: nowrap;}
}


/* 3.3. other page */
#header{
    position: relative;
    //z-index	: 10;
    z-index: 99; // z-index quickview button 20
    @include box-shadow(0 1px 10px rgba(0,0,0,.1));
}
.main-content{
    /*position: relative;
    z-index	: 9;*/
    overflow: hidden;
    // Case header 4 menu too long
    clear: both;

    .index-page {margin-top: 60px}
}
.slideshow-wrapper{
    > div {
        z-index: 1;
    }
}
.fullwidthbanner-container .fullwidthabanner {
    z-index: 1;
}
.page-404-content-inner{
    text-align: center;
    .screen-reader-text{
        display: none;
    }
    .widget_search form{
        background: #000;
        @include border_radius(5px);
        padding: 4px;
        display: inline-block;
        max-width: 100%;
        input[type="text"]{
            float: left;
            margin: 0 2px 0 0;
            max-width: none;
            font-size: 16px;
            width: 470px;
            max-width: 100%;
            @include box_shadow(0 12px 16px -10px rgba(0, 0, 0, 0.15) inset);
            line-height: 54px;
            @media (max-width: $screen-xs-max) { // max 767px
                margin: 0 auto 2px;
                float: none;
            }
        }
        input[type="submit"]{
            float: left;
            margin: 0 2px 0 0;
            height: 52px;
            font-size: 16px;
            padding-left: 50px;
            background-image: url('images/search_ico.png');
            background-repeat: no-repeat;
            background-position: 20px 15px;
            &:hover, &:active, &:focus {
                color: #fff;
                background-color: #d3d3d3 !important;
            }
            @media (max-width: $screen-xs-max) { // max 767px
                margin: 2px auto 0;
                float: none;
            }
        }
    }
}
.nth-social-share{
    li{
        float:  left;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

.nth-social-share-link {
    padding: 0;
    overflow: hidden;
    li {
        a {
            color: #ffffff;
            i.fa {
                width: 32px;
                text-align: center;
                line-height: 32px;
                background-color: #d0d0d0;
                color: #ffffff;
            }
        }
        &.facebook a i.fa {
            background-color: #3b5998;
        }
        &.twitter a i.fa {
            background-color: #00acee;
        }
        &.google_plus a i.fa {
            background-color: #dd4b39;
        }
        &.pinterest a i.fa {
            background-color: #ca1f27;
        }

        &:hover {
            opacity: 0.65;
        }
    }
}

.wpcf7-form{
    background: url(images/bkg_contact.png) repeat-x left top ;
    overflow: hidden;
    @include border_radius( 5px );
    padding: 28px 20px 0 ;
    margin: -18px -20px 0 ;
    p{
        margin-bottom: 15px;
        span.wpcf7-form-control-wrap{
            display: block;
        }
        textarea{
            max-width: none;
        }
        input[type="submit"]{
            float: right;
        }
    }
    abbr[title] {
      border-bottom: none;
    }
}


.nth-row-grid{
    @include box_shadow( 0 1px 3px 0 rgba(0, 0, 0, 0.2) );
    overflow: hidden;
    @include border_radius( 5px );
    padding: 18px 0 20px;
    background: #fff;
    margin: 0!important;
    position: relative;
    h3.heading-title{
        //font:700 14px $font-family;
        font-weight: 700;
        font-size: 14px;
        //margin-bottom: 18px;
    }
    div[class*=vc_col-sm]{
        //padding: 0 20px;
        @media (max-width: $screen-xs-max) { // max 767px
            //padding-bottom:25px;
        }
        /*&:after{
            content:"";
            border-right: 1px dashed $color_e;
            width: 1px;
            position: absolute;
            right: -1px;
            top:-20px;
            bottom: -400px;

        }*/
    }
}

.wpb_tabs{
    margin-bottom: 10px;
    ul.wpb_tabs_nav{
        margin-bottom: 18px;
        font-size: 0;
        li{
            margin: 0 2px 2px 0;
            border: none;
            padding: 0;
            @include border-radius(0);
            @include box-shadow(none);
            background: none;
            a{
                padding: 10px 15px;
                margin-right: 0;
                text-transform: uppercase;
                font: 700 14px $font-custom-a;
                color: $color_d_light;
                @include transition( all 0.3s cubic-bezier(0.4, 0, 1, 1) );
                border: 1px solid transparent;
                display: block;
            }
            &:hover{
                a{
                    color: $color_a;
                }
            }
            &.ui-tabs-active,
            {
                a{
                    background: #fff;
                    color: $color_a;
                    border-color: $base-border-color;
                    border-bottom: 1px solid $base-border-color;
                }
            }
            &:hover,
            &.ui-tabs-active{
                background: none;
            }
        }

        &.nth-boxed{
            overflow: hidden;
            background:#f6f6f6 ;
            @include border_radius(5px 5px 0 0);
            border: $main_border;

            margin-bottom: 0;
            > li {
                text-align: left;
                margin: 0;
                position: relative;
                background: transparent;

                &:before{
                    content:"";
                    border-right: 1px solid $base-border-color;
                    position: absolute;
                    left: -1px;
                    top: 0;
                    width: 1px;
                    display: inline-block!important;
                    bottom: -60px;
                    z-index: 1;
                }
                a{
                    padding: 12px 15px 10px!important;
                    margin-right: 0;
                    text-transform: uppercase;
                    border: none;
                    color: $color_d_light;
                    font: 700 14px $font-custom-a;
                    display: block;
                }
                &:hover{
                    color: $color_a;
                }
                &.ui-state-active{
                    a{
                        background: #fff;
                        color: $color_a;
                    }
                }

                &:first-child {
                    > a { @include border_radius(5px 0 0 0); }
                }
                &:last-child {
                    > a { @include border_radius(0 5px 0 0); }
                }
            }

            ~ .wpb_tab{
                background: #fff !important;
                @include box_shadow( 0 7px 7px -3px #f1f1f1 inset ) ;
                @include border_radius(0 0 5px 5px );
                border: 1px solid $base-border-color;
                padding: 20px !important;
                border-top: none;
                //min-height: 415px;
            }
        }
    }

    .wpb_tab{
        padding: 0!important;
    }


}

.wpb_tour{
    @include border_radius( 5px );
    border: 1px solid $base-border-color;
    background:#f6f6f6 ;
    margin-bottom: 10px;
    ul.wpb_tabs_nav{
        overflow: hidden;
        width: 15%!important;
        @include border_radius(5px 0 0 5px);

        > li {
            text-align: left;
            margin: 0;
            position: relative;
            background: transparent;
            + li{
                border-top: $main_border;
            }

            a{
                padding: 12px 15px 10px!important;
                margin-right: 0;
                text-transform: uppercase;
                border: none;
                color: $color_d_light;
                font: 700 14px $font-custom-a;
            }
            &.ui-state-active,
            &:hover{
                a{
                    background: #fff;
                    color: $color_a;
                }

            }
        }
    }
    .wpb_tour_tabs_wrapper {

        .wpb_tab{
            width: 85%!important;
            @include border_radius(0 5px 5px  0);
            padding: 20px!important;
            background: #fff;
        }
    }

    .wpb_tour_next_prev_nav{
        display: none;
        /*background: #fff !important;
        @include box_shadow( 7px 0 7px #f1f1f1 inset ) ;
        @include border_radius(0 5px 5px 0 );
        padding: 20px;
        border-left: $main_border;

        @media (min-width: $screen-sm) {
            border-left: 0;
            padding: 20px;
        }*/
    }
}

html .wpb_accordion{
    @include border_radius( 5px );
    border: 1px solid $base-border-color;
    background: #fff;
    .wpb_accordion_wrapper{
        .ui-state-default {
            .ui-icon {
                background-image: none;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                line-height: 40px;
                font-size: 1.1em;
                top: 0;
                color: $color_d;
                opacity: 0.6;
                &:before {
                    /*content: "\f067";*/
                    content: "\f196";
                }
            }
            &.ui-accordion-header-active .ui-icon:before {/*content: "\f068";*/ content: "\f147";}
        }

        .wpb_accordion_section{
            .wpb_accordion_header{
                border-bottom: $main_border;
                background: #fafafa;
                margin: 0;
                @include border-radius( 5px 5px 0 0 );
                &.ui-accordion-header-active{
                    background: #fff;
                    a{
                        color: $color_a;
                        @include opacity(1);
                    }
                }
                a{
                    font: 700 14px $font-custom-a;
                    text-transform: uppercase;
                    color: $color_d_light;
                    float: none;
                    display: block;
                    padding: 12px 20px 11px;
                    min-height: 40px;
                    //line-height: 40px;
                    //@include opacity(.5);

                    &:hover{
                        color: $color_a;
                    }
                }
            }
            .wpb_accordion_content{
                padding: 20px !important;
                @include box_shadow( 0 7px 7px -3px #f1f1f1 inset ) ;
                border-bottom: $main_border;
            }


            &:last-child{
                .wpb_accordion_content,
                .wpb_accordion_header{
                    border-bottom: 0;
                }
                .ui-accordion-content-active{
                    border-top: $main_border;
                }

                .wpb_accordion_header {
                    @include border-radius( 0 0 5px 5px );
                }
            }

        }

    }


}

/* 3.4.  NTH Tabs */
.nth-tabs{
    .tabs{
        font-size: 0;
       /* background: $color-7;*/
        padding: 0;
        @include border_radius( 5px );
        overflow: visible;
        &:before, &:after{
            display: none!important;
        }
        li{
            @include border_radius( 0 );
            border: none;
            margin: 0;
            display: inline-block;
            background: $color-7;


            @media (max-width: $screen-xs-max) { // max 767px
                width: 50%;
                @include border_radius( 5px 0 0 5px );
                &:nth-child(2n) {
                  @include border_radius( 0 5px 5px 0 );
                }
            }

            &:before, &:after{
                display: none;
            }

            &:first-child {
              @include border_radius(5px 0 0 5px);
            }
            &:last-child {
                @include border_top_right_radius(5px);
                @include border_bottom_right_radius(5px);
              //border-top-right-radius: 5px;
              //border-bottom-right-radius: 5px;
            }

            > a{
                text-transform: uppercase;
                font-family: $font-custom-a;
                font-size: 14px;
                font-weight: 700;
                display: block;
                padding: 10px 18px 9px;
            }

            &.active {
                @include box_shadow( 0 1px 3px rgba(0,0,0,0.2) );
                background: #fff;
                z-index: 9;

                > a{
                    &:hover,
                    &:focus,
                    &:active{
                        color: $color_d;
                    }
                }
            }
        }
    }
    .panel{
        @include box_shadow( none );
        background: none;
        &:not(#tab-yotpo_widget) {
          padding-top: 15px;
        }
    }
    @media (max-width: $screen-xs-max) { //767px
      margin-top: 35px;
    }
}
/*  nth-tabs */


/* 3.5. Portfolio */

.nth-portfolios-wrapper {
    margin-bottom: 100px;
    .nth-portfolio-content{
        overflow:  visible!important;
        margin-top: 0!important;
        .nth-portfolio-item {
            .nth-portfolio-thumb{
                padding: 0!important;
                @include border-radius( 0 0 5px 5px );
                border-color: #e6e6e6 !important;
                @include box-shadow( 0px 1px 3px  rgba(0, 0, 0, 0.15) );
                @include transition( all 0.3s ease 0s );
                text-align: center;
                background: #fff;
                &:hover{
                    @include box-shadow( 0 0 20px rgba(0,0,0,0.2) );
                    @include transform (translateY(-10px) );
                    .thumnail  .icons {
                        @include opacity( 1);
                        a i.fa{
                            @include opacity( 1);
                            @include transform( scale(1));

                        }
                    }
                }
                .thumnail {
                    .icons {
                        @include transition( all 0.3s ease 0s );
                        @include opacity( 0);
                        display: block!important;
                        a i.fa{
                            position: relative;
                            top:50%;
                            margin-top: -30px!important;
                            @include opacity( 0);
                            @include transform( scale(1.5) );
                            @include transition( all 0.3s ease 0s );
                            height: 50px;
                            line-height:normal;
                            &:before{
                                line-height: 46px;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .summary {
                    h3 {
                        a{
                            //font: 700 12px/20px $font-family;
                            font-size: 12px;
                            font-weight: 700;
                            &:hover{
                                color: $color_a;
                            }
                        }
                    }
                    .nth-meta {
                      //font: 11px $font-family;
                      font-size: 11px;
                    }
                }
            }
        }
    }
    .nth-portfolio-container {
        .nth-portfolio-filters-wrap {
          .nth-tabs {
            ul.nth-portfolio-filters{
              margin-bottom: 40px;
              /*li {
                padding: 10px 0;
              }*/
            }
          }

          .order-form {
            label {
              width: auto;
              padding-right: 5px;
            }
            select {
              width: auto;
            }
          }

        }
    }
}



/* end portfolio */


/* 3.6. Gallery pages */
.galleries-template {
  .nth-portfolios-wrapper{
    .nth-portfolio-container{
      .nth-portfolio-content{
        .nth-portfolio-item {
          padding-left: 3px;
          padding-right: 3px;
          .nth-portfolio-thumb{
            margin-bottom: 10px;
            &:hover {
              .thumnail {
                & > a {
                  &:before{
                    content: "";
                    background: rgba(0,0,0,0.4);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }

            .summary {
              padding: 10px 15px 15px 15px ;
            }
          }
        }
      }

      .nth-portfolio-filters-wrap {
        .nth-tabs {
          float: left;
        }
        .order-form {
          width: 22%;
          float: right;
          @media (max-width: $screen-xs-max) {
            width: 100%;
            margin-bottom: 20px;
          }
          select[name='orderby'] {
            margin-right: 15px;
          }
        }

      }

      &.style-2 {
        .nth-portfolio-content {
          .nth-portfolio-item {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            .nth-portfolio-thumb {
              border: none;
              margin-bottom: 0;
              .summary {
                display: none;
              }
            }
          }
        }

      }
    }

  }

}


//Gallery detail style 1
@media (max-width: $screen-md-max) {
  .nth-fullwidth {
    padding-right: 0;
  }
}

.nth_gallery {

  .gallery-content {
    .gallery-image-item {
      &:hover {
        & > a{
          display: block;
          &:before{
            content: "";
            background: rgba(0,0,0,0.4);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
          &:after {
            content: "a";
            font-family: "nthTheshopier" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            font-size: 43px;
            line-height: 43px;
            position: absolute;
            left: calc(50% - 21.5px);
            top: calc(50% - 21.5px);
            color: $color_light;
          }
        }


      }
      img.media_icon {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      &.gallery-video {
        &:hover {
          & > a{
            &:after{
              content: "";
              background: url('images/gallery_play_icon.png');
              width: 40px;
              height: 45px;
              left: calc(50% - 20px);
              top: calc(50% - 22.5px);
            }
          }
        }

      }
    }

    &.gallery-style-2 {
      .ws_prev, .ws_next, .rsArrowRight .rsArrowIcn, .rsArrowLeft .rsArrowIcn {
        @include buttonslider();
        /*@extend .arrow_button;*/
        top: 50%;
      }

      .ws_prev, .rsArrowLeft .rsArrowIcn{
        margin-left: -20px;
        &:before{
          content: "k";
        }
      }
      .ws_next, .rsArrowRight .rsArrowIcn{
        margin-right: -20px;
        right: 0;
        &:before{
          content: "j";
        }
      }

      .ws_playpause {

      }
      .ws_pause {
        background-image: url(images/pause.png);

      }
      .ws_play {
        background: url(images/gallery_play_icon.png) no-repeat;
        width: 40px;
        height: 45px;
        display: block;
        position: absolute;
        top: calc(50% - 22.5px);
        left: calc(50% - 20px);
      }


    }

  }
}

/* Gallery pages */

/* 3.7. TEAM MEMBERS */
.nth-team-members-wrapper{
    text-align: center;
    position: relative;
    margin-top: 12px ;
    margin-bottom: 25px!important;
    .team-member{
        padding-bottom: 12px;
        margin-bottom: 20px;
        &:hover{
            > a:after{
                @include opacity(1);
            }
        }
        > a{
            overflow: hidden;
            position: relative;
            display: block;
            img{
                @include border-radius( 50%);
                @include box-shadow( 0 1px 3px  rgba(0,0,0,0.2) );
                width: 100%;
            }
            &:after{
                background: rgba(0,0,0,.7);
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                @include opacity(0);
                @include transition( all 0.3s ease 0s );
                @include border-radius( 50%);
            }
        }
        .info{
            margin-top: 18px;

            h3{
                padding: 0 20px;
                line-height: normal;
                a{
                    font-weight: 700;
                    font-size: 14px;
                    //font:700 14px $font-family;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
            p{
                padding: 0 20px;
            }
        }

        .nth-social-network{
            padding-left: 0px;
            font-size: 0;
            li{
                display: inline-block;
                font-size: 30px;
                margin: 0 4px 2px 4px;
                line-height: normal;
                a{
                    color: #d1d1d1;
                }
                &:hover{
                    &.facebook{
                        a{
                            color: #3b5998;
                        }
                    }
                    &.twitter{
                        a{
                            color: #00aced;
                        }
                    }
                    &.google{
                        a{
                            color: #dd4b39;
                        }
                    }
                    &.pinterest{
                        a{
                            color: #cb2027;
                        }
                    }
                    &.instagram{
                        a{
                            color: #517fa4;
                        }
                    }
                    &.linkedin{
                        a{
                            color: #007bb6;
                        }
                    }
                    &.dribbble{
                        a{
                            color: #ea4c89;
                        }
                    }
                }

            }
        }
    }
    &.bounce{
        .team-member{
            @include border-radius( 0 0 5px 5px );
            border-color: #e6e6e6 !important;
            @include box-shadow( 0px 1px 3px  rgba(0, 0, 0, 0.15) );
            @include transition( all 0.3s ease 0s );
            background: #fff;
            &:hover{
                @include box-shadow( 0 0 20px rgba(0,0,0,0.2) );
                @include transform (translateY(-8px) );
            }
            a{
                img{
                    @include border-radius( 0 );
                    @include box-shadow( none );

                }
                &:after{
                    @include border-radius( 0 );
                }
            }
        }

    }
    &.overlay{
        .team-member{

            &:hover{
                > a:after{
                    @include opacity(1);
                }
                p{
                    @include opacity(1);
                    top: 15px;
                }
                .nth-social-network{
                    @include opacity(1);
                    bottom: 100px;
                }

            }
            > a{
                img{
                    @include border-radius( 5px );
                    @include box-shadow( none );

                }
                &:after{
                    @include border-radius( 5px );
                }
            }
            p{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                padding: 0 30px;
                @include opacity(0);
                @include transition( all 0.55s ease 0s );
                color: #fff;
            }
            .nth-social-network{
                position: absolute;
                bottom: 50%;
                left: 0;
                width: 100%;
                @include opacity(0);
                @include transition( all 0.55s ease 0s );

                li{
                    a{
                        color: #fff;
                        &:hover{
                            color: #6475c2;
                        }
                    }
                }

            }
        }
    }
}

/* 3.8. Woo Tabs */
.shortcode-woo-tabs{
    font-size: 0;
    margin-bottom: 14px;
    list-style: none;
    @media (max-width: $screen-xs - 1) { // max 479px
        float: left;
        clear: both
    }
    li{
        display: inline-block;
        font-size: 13px;
        margin: 0 0 2px 0px;
        @media (max-width: $screen-xs - 1) { // max 479px
            //margin: 0 2px 2px 0;
        }
        a{
            padding: 12px 20px 11px;
            min-height: 40px;
            margin-right: 0;
            text-transform: uppercase;
            font: 700 14px $font-custom-a;
            color: $color_d_light;
            @include transition( all 0.3s cubic-bezier(0.4, 0, 1, 1) );
            //border: 1px solid transparent;
            border: none;
            display: block;
            @include border-radius(4px);
        }
        &:hover{
            color: $color_a;
        }
        &.active{
            a{
                background: #fff;
                color: $color_a;
                //border-color: $base-border-color;
                @include box-shadow(0 1px 2px 1px rgba(0, 0, 0, 0.1));
            }
        }
    }
}


/* 3.9. SELECT2 */
.select2-drop-active{
    @include box_shadow( 0 2px 7px -2px rgba(0, 0, 0, .2) );
    border-color: $base-border-color;
}

.owl-carousel .owl-item{
    section.product{
        width: 100%!important;
    }
}
.nth-phone-menu-icon{

    cursor: pointer;
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-left: -14px;

    &:after,
    &:before{
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px 0;
        background: #000;
        @include transition( all.25s ease-in-out ) ;
    }
    i{
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        margin: 5px 0;
        background: #000;
        &:before{
            display: none;
        }
    }
    &.active{
        position: fixed;
        top: 20%;
        right: 15px;
        left: auto;
        z-index: 1000;
        &:before{
            @include transform( translateY(8px) rotate(45deg) ) ;
            background:#fff;
        }
        &:after{
            @include transform( translateY(-8px) rotate(-45deg) ) ;
            background:#fff;
        }
        i{
            @include opacity(0);
        }

    }
}
a.remove{
    font-size: 0!important;
    width: auto !important;
    height: auto !important;
    &:before{
        content:"\f014";
        font:20px/38px "FontAwesome";
        border: 1px solid #dfdfdf;
        background: #fff;
        @include border_radius(4px);
        color: #5d5d5d;
        width: 38px;
        text-align: center;
        display: inline-block;
    }
    &:hover{
        background: none!important;
        &:before{
            @include opacity(.7);
        }
    }
}

.mb-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 100;
    @include transition(all 1s) ;
    > ul {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 100;
        > li{
            padding: 5px 0!important;
            width: 100%;
            text-align: center;
            line-height: normal;

            a{
                font-size: 30px;
                color: #fff;
                font-weight: 300!important;
                display: block;
                font-family: $font-family;
                &:hover{
                    color: $color_a;
                }
            }
            .sub-menu,
            &:before,
            img{
                display: none;
            }
        }
    }
}

/*dropcart*/
.ui-draggable-handle{
    /*cursor: move;*/
    .product-thumbnail-wrapper a{
        cursor: move;
    }
}
.adding .shop-cart-dropable-box {
    height: 108px;
    visibility: visible;
    @include opacity(1) ;
    text-align: center;
    margin: 20px 0 10px ;
    border: 4px dashed #ccc;
    font-size: 13px;
    img{
        width:100px;
        height: 100px;
    }
}
.droppable_active .shop-cart-dropable-box{
    height: 50px;
    visibility: visible;
    font-size: 13px;
    @include opacity(1) ;
    margin: 20px 0 10px ;
    border: 4px dashed #ccc;
}
.droppable_in .shop-cart-dropable-box{
    border-color: #5a9e74;
    color: #5a9e74;
    font-size: 13px;
    border: 4px dashed #5a9e74;
    font-size: 13px;
}
.shop-cart-dropable-box{
    width: 100%;
    padding: 0 20px;

    text-transform: uppercase;
    font-weight: bold;
    color: #ccc;
    height: 0;
    line-height: 43px;
    visibility: hidden;
    @include transition(all .3s) ;
    @include opacity(0) ;
    font-size: 0;
    margin: 0;
    clear: both;
    font-size: 0;
}

/* 3.10. WIDGET CSS */
.woocommerce  ul.product_list_widget,
ul.product_list_widget {
    clear: both;

    li{
        position: relative;
        border-top: 1px dashed $base-border-color;
        padding: 15px 0 10px;
        overflow: hidden;
        color: $color_d_light;
        &.empty{
            padding-left: 0;

            img{
                float: none !important;
                width: auto !important;
            }
        }

        img {
            display: inline-block;
            float: left !important;
            width: 70px !important;
            //margin-right: 20px;
            margin-left: 0 !important;
            margin-bottom: 5px;
        }

        a {
            font-weight: 700;
            font-size: 12px;

            &.text-link{
                font-weight: 400;
            }
        }

        .product-image {
            float: left;
            margin-right: 20px;
        }
        .product-detail {
          float: left;
          width: calc( 100% - 90px);
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) { // min 768px max 1199px
          .product-image{
            margin-right: 10px;
          }
          .product-detail {
            width: calc( 100% - 80px);
          }
        }   

        a.product-title{
            text-transform: capitalize;
            //margin-bottom: 5px;
            margin-bottom: 3px;
        }

        .quantity{
            span.amount{
                margin-top: 11px;
            }
        }
        

        .star-rating{
            margin-top: 7px;
        }
        a.remove{
            position: absolute;
            top: auto;
            left: auto;
            z-index: 100;
            right: 0;
            bottom: auto;
            margin-bottom: 0;
        }
        &:first-child {border-top: none; padding-top: 0;}
        &:last-child {padding-bottom: 0 !important;}
    }

    &.grid{
        li{
            .product-image{
                float: none;
                margin-right: 0;
            }
            .product-detail{
                float: none;
                width: 100%;
                clear: both;
            }


        }
    }

    //@media (min-width: $screen-md) {
        &.grid{
            font-size: 0;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 50%;
                width: 1px;
                border-right: 1px dashed $color_e;
                display: inline-block;
            }

            li{
                display: inline-block;
                margin: 0;
                font-size: 16px;
                font-size: 1rem;
                vertical-align: top;
                width: 50%;
                //position: relative;
                border-top: 1px dashed $color_e;
                padding: 15px 20px 12px 20px!important;
                min-height: 0;

                &:nth-child(1), &:nth-child(2),
                &:nth-of-type(1), &:nth-child(2){
                    border-top: none;
                    padding-top: 0 !important;
                }
                &:nth-last-child(1), &:nth-last-child(2) {
                    padding-bottom: 0 !important;
                }

                &:nth-child(2n+1),
                &:nth-of-type(2n+1){
                    padding-left: 0!important;
                }
                &:nth-child(2n),
                &:nth-of-type(2n){
                    padding-right: 0!important;
                }
                a{
                    img{
                        position: static;
                        float: none !important;
                        width: 120px!important;
                        margin-bottom: 16px !important;
                        margin-right: 0;
                    }
                    span {
                        display: block;
                        font-size: 13px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        display: inline-block;
                    }
                }
            }
        }
    //}

    &.cart-empty{
        max-height: none !important;
    }

}

.widget.widget_woothemes_features{
    .features{
        overflow: hidden;
        position: relative;

        > .feature {
            position: relative;
            //padding:15px 15px 15px 0;
            padding:10px 15px 15px 0;
            margin-bottom: 0;

            /*&:after{
                content:"";
                border-right: 1px dashed #e5e5e5;
                width: 1px;
                position: absolute;
                right: -1px;
                top:-20px;
                bottom: -400px;
            }*/
            float: left;
            img{
                margin-bottom: 5px;
            }

            &.icon-left{
                img{
                    margin-right: 10px;
                }
                .feature-sumary{
                    display: block;
                    overflow: hidden;
                    min-width: 50px;
                    text-align: left;
                    .feature-title{
                        margin-top: 0;
                    }
                }
            }
            &.icon-right{
                img{
                    margin-left: 10px;
                }
                .feature-sumary{
                    display: block;
                    overflow: hidden;
                    min-width: 50px;
                }
            }


            &.nth-row-grid{
                @include box_shadow( none );
                @include border_radius( 0 );
                background: none;
                padding: 2px 14px 5px;

                .feature-inner{
                    @include box_shadow( 0 1px 3px 0 rgba(0, 0, 0, 0.2) );
                    @include border_radius( 5px );
                    background: #fff;
                    padding: 18px 10px 20px;
                }
            }

            .feature-sumary {
                .learn-more-wrap {
                    margin-top: 10px;
                }

            }

            &.text-center{
                padding: 10px 15px 15px;
            }

        }


        &.columns-1 > .feature {width: 100%;}
        &.columns-2 > .feature {width: 50%;}
        &.columns-3 > .feature {width: 33.33333333333%;}
        &.columns-4 > .feature {width: 25%;
            @media (max-width: $screen-sm-max) { // max 991px
                width: 50%;
                margin-bottom: 15px;
                &:nth-child(2n+1){
                    clear: both;
                }
            }
            @media (max-width: $screen-xs - 1) { // max 479px
                width: 100%;
                margin-bottom: 15px;
            }
        }
        &.columns-5 > .feature {width: 20%;
            @media (max-width: $screen-sm-max) { // max 991px
                width: 50%;
                margin-bottom: 15px;
            }
            @media (max-width: $screen-xs - 1) { // max 479px
                width: 100%;
                margin-bottom: 15px;
            }

        }
        &.columns-6 > .feature {width: 16.66666666667%;
            @media (max-width: $screen-sm-max) { // max 991px
                width: 50%;
                margin-bottom: 15px;
            }
            @media (max-width: $screen-xs - 1) { // max 479px
                width: 100%;
                margin-bottom: 15px;
            }

        }



        .feature-title{
            font-family: $font_2;
            font-size: 24px;
            text-transform: capitalize;
            font-weight: 400;
            margin: 0 0 3px;
        }
    }
}
/*end widget*/

/* 3.11. TOOLBAR SLIDE */
.nth_header_toolbar{
    position: fixed;
    top:0;
    right: 0;
    background: #fff;
    width: 40px;
    border-left: $main_border;
    height: 100%;
    text-align: center;
    padding-top:22px;
    z-index: 100;
    @media (max-width: $screen-sm-max) { // max 991px
        display: none;
    }

    ul, ol{
        list-style: none;
        padding-left: 0px;
    }

    .heading-title{
    }

    > div {
        > div {
            position: relative;
            > a{
                width: 40px;
                display: block;
                position: relative;
                z-index: 100;
                @include opacity(0.8);
                @include transition( all 0.3s ease 0s );
                span{
                    position: relative;

                    &:before{
                        font-size: 25px;
                        line-height: 60px;
                        width: 40px;
                        display: inline-block;
                    }
                    &:after{
                        content: attr(data-count);
                        font-size: 10px;
                        position: absolute;
                        background: $color-6;
                        line-height: 15px;
                        min-width: 15px;
                        text-align: center;
                        color: #fff;
                        border-radius: 50%;
                        right: 3px;
                        top: -19px;
                        padding: 0 2px;
                    }
                }
                &:hover{
                    background: #f6f6f6;
                }
            }

            .nth-toolbar-popup-cotent{
                position: absolute;
                top: 0;
                right: 39px;
                background: #fff;
                @include border_radius(5px 0 0 5px);
                @include box_shadow( $main_boxshahow );
                width: 310px;
                padding: 14px 20px;
                text-align: left;
                //border-right: $main_border;
                /*visibility: hidden;
                @include opacity(0);
                @include transition( all .3s ease );*/
                @include nthanimated(nthfadeInLeft);

                display: none;

                p.total{
                    border-top: 1px solid $color_e;
                    padding-top: 20px;
                    margin-bottom: 20px;
                    span.amount{
                        float: right;
                        font-size: 24px;
                        color: inherit;
                    }
                    strong{
                        font-weight: normal;
                    }
                }
                p.buttons {
                    margin-bottom: 0px;
                    
                    .button{
                        @extend %button-large;
                        //line-height: 38px;
                        padding-top: 9px;
                        padding-bottom: 9px;
                        display: block;

                        &.checkout{
                            @extend %button-error;
                        }
                    }
                }
                .wishlist-heading {
                    line-height: 27px;
                    .heading-title {
                        float: left;
                    }
                    a.heading-links{
                        float: right;
                        &:after{
                            content: "\f178";
                            font-family: "FontAwesome";
                            margin-left: 4px;
                        }
                    }
                    + ul {
                        clear: both;
                        li.empty{
                            min-height: 0;
                            //padding: 20px 0;
                        }
                    }
                }

                ul.product_list_widget {
                    max-height: 198px;
                    overflow-y: auto;
                    margin: 0 -20px;

                    li{
                        margin: 0 20px ;
                        a{
                            display: block;

                            img{
                                @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
                                    float:none!important;
                                    position: absolute;
                                }
                            }
                        }
                        &.empty{
                            min-height: 0;
                        }

                        .quantity{
                            span.amount{
                                display: block;
                            }
                        } 

                    }
                }
                .nth-mini-popup-footer {
                    border-top: $main_border;
                    padding-top: 20px;
                    margin-top: 20px;
                    > *:last-child {margin-bottom: 0;}
                }
            }

            &.nth_qrcode{
                .nth-toolbar-popup-cotent{
                    top: auto;
                    bottom: 0;
                }
            }
            .nth-mini-login-content{
                .btn-primary{
                    margin-top:8px;
                    margin-bottom: 7px;
                }

                a:last-child{
                    color: $color_a;

                    &:hover{
                        color:$color_d_drak;
                    }
                }
            }
            &:hover{
                .nth-toolbar-popup-cotent{
                    /*visibility: visible;
                    @include opacity(1);
                    right: 40px;*/
                    display: block;
                }
            }
        }
    }

    .nth-shopping-cart-item{
        position: relative;
        span:after{
            background: $color-6;
        }
        > a span:after{
            top: -16px;
        }
        .nth_add_to_cart_product_info{
            position: absolute;
            top: -70px;
            right: 40px;
            background: #fff;
            @include box_shadow( $main_boxshahow );
            @include border_radius( 3px 0 0 3px  );
            width: 290px;
            padding: 15px 15px 15px 105px;
            text-align: left;
            min-height: 90px;

            a{
                width: auto;
                position: static;
                .product-title{
                    line-height: 18px;
                    font: 700 13px $font-custom;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    display: inline-block;
                    color: $product-name-color;
                    @include transition( color .35s ease );

                    &:hover{
                        color: $product-name-hover-color;
                    }
                }

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90px;
                    height: 90px;
                }
            }
            .star-rating{
                float: none!important;
                margin-top: 5px;
            }
        }
        .current-product-added-to-cart{
            display: none;
        }
    }

    .bottom-group-items{
        position: absolute;
        bottom: 0;
        span:before{
            font-size: 18px;
            line-height: 50px;
        }
        .social-network-arrow{
            .nth-social-network {
                z-index: 999;
                position: absolute;
                top: -40px;
                right: 39px ;
                background: #fff;
                @include border_radius(5px 0 0 5px);
                @include box_shadow( $main_boxshahow );
                border-right: $main_border;
                width: 40px;
                text-align: left;
                /*visibility: hidden;
                @include opacity(0);
                @include transition( all .3s ease );*/
                @include nthanimated(nthfadeInLeft);
                display: none;

                text-align: center;
                a{
                    color: #d1d1d1;
                    span:before{
                        line-height: 46px;
                        font-size: 25px;
                    }
                    &:hover{
                        color: #6475c2;
                    }
                }
            }
            &:hover .nth-social-network {
                /*@include opacity( 1 );
                visibility: visible;
                right: 41px;*/
                display: block;
            }
        }

        #back_to_top {

            a {
                font-size: 10px;
                text-transform: uppercase;
                padding: 17px 0 14px;
                span:before{
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }

    .toolbar_item{
        .heading-title{
            padding-bottom: 13px;
            margin-bottom: 0;
        }
    }

    ul.product_list_widget{
        li{
            padding: 19px 0 14px;

            &:first-child{
                padding-top: 0px;
            }

            .product-detail{
                padding-right: 40px;
            }
        }
    }
    .nth-wishlist-item{
        ul.product_list_widget{
            li{
                span.product-title{
                    display:block;
                    margin-bottom:5px;
                }
                .remove{
                    padding-right: 0;
                }
            }
        }
    }

} /* end  toolbar */

.nth-owlCarousel.loading, .nth-loading {
    height: 100px;
    overflow: hidden;
    position: relative;
    /*	margin: -20px 0 0 -20px;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid  #fff;
        border-left-color: #5a9e74;
        font-size: 0;
        overflow: hidden;

        -webkit-animation: animation-rotate 1000ms linear infinite;
        -moz-animation: animation-rotate 1000ms linear infinite;
        -o-animation: animation-rotate 1000ms linear infinite;
        animation: animation-rotate 1000ms linear infinite;

        @include border_radius(999px) ;
            &:before{
                content: "";
                margin: -17px 0 0 -17px;
                height: 34px;
                width: 34px;
                -webkit-animation: animation-rotate 1500ms linear infinite;
                -moz-animation: animation-rotate 1500ms linear infinite;
                -o-animation: animation-rotate 1500ms linear infinite;
                animation: animation-rotate 1500ms linear infinite;

                position: absolute;
                top: 50%;
                left: 50%;
                border: 1px solid  #fff;
                border-left-color: #5a9e74;

                @include border_radius(999px) ;
            }
            &:after{
                content: "";
                margin: -14px 0 0 -14px;
                height: 28px;
                width: 28px;
                -webkit-animation: animation-rotate 2000ms linear infinite;
                -moz-animation: animation-rotate 2000ms linear infinite;
                -o-animation: animation-rotate 2000ms linear infinite;
                animation: animation-rotate 2000ms linear infinite;

                position: absolute;
                top: 50%;
                left: 50%;
                border: 1px solid #fff;
                border-left-color: #5a9e74;

                @include border_radius(999px) ;
            }

        .owl-controls,
        .owl-wrapper-outer{
            display: none!important;
            @include opacity(0);
            visibility: hidden;
        }*/
    &:before{
        content:"";
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 5px solid transparent;
        border-bottom-color: #5a9e74;
        border-top-color: #5a9e74;
        -webkit-animation: animation-rotate 2000ms linear infinite;
        -moz-animation: animation-rotate 2000ms linear infinite;
        -o-animation: animation-rotate 2000ms linear infinite;
        animation: animation-rotate 1000ms linear infinite,hue 1000ms linear infinite;
        z-index: 101;
    }
    &:after{
        content:"";
        background: $base-box-bg;;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;

    }
    .nth-shortcode-header{
        position: relative;
        z-index:102;
    }
}


/* 3.12. compare page */
table.compare-list .remove td a{
    font-size: 0!important;
    width: auto !important;
    height: auto !important;
    &:before{
        content:"\f014";
        font:20px/38px "FontAwesome";
        border: 1px solid #dfdfdf;
        background: #fff;
        @include border_radius(4px);
        color: #5d5d5d;
        width: 38px;
        display: inline-block;
        text-align: center;        
    }
    &:hover{
        background: none!important;
        &:before{
            @include opacity(.7);
        }
    }

}
// Search results
.search-results {
    .site-main {
        padding: 60px 0 0;
        li {
            list-style: none;
        }
    }
}

.woocommerce{
    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message{
        .button{
            margin-bottom: 0;
        }
    }
}