/* ============================================ *
 * 9. Checkout page
 * ============================================ */
form.woocommerce-checkout{
    // Replace overflow: hidden;
    display: inline-block;
    width: 100%;

    > .blockUI.blockOverlay{
        background-color: $color_f !important;
    }
}
.woocommerce-checkout {
    .entry-content{
        .woocommerce{
            .nth-row-grid{
                margin-bottom: 30px !important
            }

            @media (max-width: $screen-xs-max) { // max 767px
                .nth-row-grid{
                    margin-bottom: 10px !important
                }

            }
        }
    }

    form {
        .form-row {
            input.input-text,  textarea{
                max-width: none;
            }
        }
    }

    #payment{
        label{
            width: auto;
        }
        a.about_paypal{
            display:block;
            margin-left: 5px;
        }
    }

    .payment_method_paypal{
        input {
            display: inline-block;
            vertical-align: top;
        }
    }

    #payment{
        background: none;
        border-top: 1px dashed $color-8;
        padding: 0;
        padding-top: 12px;

        ul.payment_methods{
            padding: 0;
            border-bottom:0;
            padding-bottom: 33px;

            li{
                label{
                    margin-bottom:0;
                    font-size: 12px;
                }
                input{
                    margin-right: 3px;
                    vertical-align: top;
                    margin-top: 6px;
                }

                img{
                    display: block;
                    margin-left: -19px;
                    margin-top: 3px;
                }
            }
        }

        .payment_method_paypal{
            .about_paypal{
                float: none;
                line-height: normal;
                margin-left: -19px;
                display: none;
            }
        } 

        div.payment_box{
            background: none;
            padding: 0;
            margin-top: 9px;
            margin-bottom: 18px;
            color: $color_d_light;

            &:before{
                display:none;
            }
        }

        div.form-row{
            padding:0;
            margin-bottom: 8px;
        }
    }

    @media (max-width: $screen-xs-max) { // max 767px
        #payment{
            div.payment_box{
                margin-bottom: 8px;
            }
        }
    }
}

.category-infomation {
    margin-bottom: 15px;
}
.product-subcategories {
    position: relative;
    min-height: 100px;
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
    .archive-product-subcategories {
        list-style: none;
        margin: 0;
        padding:0px;
        .product-category {
            overflow: hidden;
            margin: 5px 10px;
            @include border_radius(0 3px 3px 0 );
            @include box_shadow( 0 1px 3px 0 rgba(0, 0, 0, 0.15) );
            background-color: #ffffff;
            padding-right: 10px;

            line-height: 16px;

            img {
                float: left;
                margin-right: 20px;
                width: 100px;
                height: 100px;
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                  margin-right: 0;
                }
            }
            h3 {
                font-size: 14px;
                line-height: 1;
                text-transform: uppercase;
                letter-spacing: -1px;
                font-weight: 700;
                margin: 18px 0 10px;
                width: 50%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @media (max-width: $screen-xs-max) { // max 767px
                    font-size: 16px;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                   padding-left: 20px;
                   display: inline-block;
                   width: calc(100% - 100px);
                    margin: 15px 0 5px;
                }

                mark {
                    background-color: transparent;
                }
            }

            div.loop-description{
                font-size: 12px;
                @media (max-width: $screen-xs-max) { // max 767px
                    font-size: 11px;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                  padding-left: 20px;
                  padding-bottom: 8px;
                  display: inline-block;
                  width: calc(100% - 100px);

                }
            }
        }
    }
}

// Css Checkout page
.woocommerce-checkout{
    .nth-checkout-heading,
    h3{
        font-size: 14px;
        font-family: $font_2;
        font-weight: 700;
        margin-bottom: 11px;
        text-transform: uppercase;

        a{
            color: $color_a;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    h3#ship-to-different-address{
        margin-bottom:0;
        padding-bottom: 11px;
    }
}

.woocommerce{
    .nth-checkout-heading{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 0 10px;
        border-bottom: 1px dashed $color-8;
    }

    .woocommerce-billing-fields,
    .woocommerce-shipping-fields{
        margin: 0 20px;
    }

    .woocommerce-billing-fields{
        border-bottom: 1px dashed $color-8;
        padding-bottom:20px;
        padding-bottom: 28px;
        h3{
            margin-bottom: 7px;
        }
    }

    .woocommerce-shipping-fields{
        padding-top: 12px;
        label{
            display: inline-block;
            width:auto;
            margin-top: 0px;
            margin-bottom: 0;
        }

        input[type="checkbox"]{
            float:left;
            margin-top: 1px;
            margin-right: 5px;
        }

        .shipping_address{
            padding-bottom:27px;
        }
    }
}
.woocommerce{
    form .form-row{
        label{
                line-height: normal;
                margin-bottom: 7px;
                font-size: 12px;
            }
        .input-checkbox{
            margin-right: 3px;
        }

        textarea{
            width: 100%;
            padding: 7px 10px 6px
        }

        &.create-account{
            margin-top: 4px;
            margin-bottom: 10px;
        }

        &.notes{
            padding-top:11px;
            margin-bottom: 0;
            border-top: 1px dashed $color-8;
            margin-top: 26px;
            label{
                font-family: $font_2;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 17px;
            }

            textarea{
                min-height: 70px;
            }
        }

        input.input-text:focus, 
        input[type="text"]:focus,
        textarea:focus{
            border: 1px solid #d7d7d7;
            @include box-shadow(0 1px 5px rgba(0,0,0,.1));

        }
    }

    form{
        .form-row-first{
            width: percentage(305/630);
        }
        .form-row-last{
            width: percentage(305/630);
        }
    }

    @media (max-width: $screen-md-max) { // max 1199px
        form .form-row{
            &.notes{
                margin-top: 24px;
                label{
                    margin-bottom: 6px;
                }
            }

            &.create-account{
                margin-bottom: 2px;
            }
        }

        form{
            .form-row-first{
                width: percentage(173/367);
            }
            .form-row-last{
                width: percentage(173/367);
            }
        }
    }

    @media (max-width: $screen-xs-max) { // max 767px
        form{
            .form-row-first{
                width: percentage(120/250);
            }
            .form-row-last{
                width: percentage(120/250);
            }
        }
    }
}

body.page.woocommerce-checkout{
    #container{
        padding-bottom: 50px;
    }

    @media (max-width: $screen-md-max) { // max 1199px
        #container{
            padding-bottom: 13px;
        }
    }

    @media (max-width: $screen-xs-max) { // max 767px
        #container{
            padding-bottom: 30px;
        }
    }
}

// Popup Form Checkout Page
.pp-popup-form{
    .nth-pretty-header{
        padding: 5px 12px;
        text-transform: uppercase;
    }
    form.login,
    form.checkout_coupon{
        display: block !important;
        padding: 10px 12px 0;
    }

    .pp_details {
        padding: 0 !important;
        > * {
            display: none !important;
        }
        > .pp_close {
            display: block !important;
            @include border_radius(0);
            background-color: $color_c_drak;
            line-height: 40px;
            height: 30px;
            width: 30px;
            top: 0;
            right: 0;
            &:before {
                font: normal normal normal 16px/1 FontAwesome !important;
                content: "\f00d";
                padding: 5px;
                width: 30px;
                color: #ffffff;
            }
        }
    }
}

// Order Complete Page
.woocommerce{
    .order_details{
        li{
            float: none;
            font-size: 14px;
            padding-right: 0;
            margin-right: 0;
            border-right: 0;
            text-transform: none;
            padding: 2px 0 15px;

            .nth-label{
                min-width: 134px;
                padding-right: 10px;
                display: inline-block;
            }

            strong{
                color: $color_d_drak;
                display: inline;
                font-size: 14px;
                line-height: 1;
            }

            span.amount{
                font-size: 14px;
                color: $color_d_drak;
                display: inline;
            }
        }
    }

    .order_details.bacs_details{
        margin-bottom: 0;
    }

     @media (max-width: $screen-md-max) { // max 1199px
        .order_details{
            li{
                text-align: right;

                .nth-label{
                    min-width: 0;
                    float: left;
                }
            }
        }

        .order_details.bacs_details{
            li{
                text-align: left;
            }
        }
    }
}

.woocommerce{
    table.order_details{
        margin-bottom: 0;
        tbody{
            td{
                &.product-name{
                    a{
                        font-size: 12px;
                        color: $color_d_drak;
                    }
                }
            }
        }
        
        tfoot{
            td{
                font-weight: 700;
            }
            th,
            td{
                padding: 5px 0 4px;
            }
        }
    }

    table.customer_details{
        border: 0;
        @include box-shadow(none);
        margin-bottom: 10px;
        tbody{
            th,
            td{
                border: 0;
                padding: 2px 0 6px;
            }

            th{
                text-align: left;
                font-weight: 400;
                color: $color_d;
                padding-right: 10px;
            }
            td{
                text-align: right;
                font-weight: 700;
            }
        }
    }
} 

.woocommerce-order-received{
    .nth-shopping-progress-wrapper{
        ul{
            li.current-item{
                &:after{
                    display: none;
                }
            }
        }
    }
    .entry-content{
        .woocommerce{
            font-size: 12px;
        }
    }

    .address-wrapper{
        border-top: 1px dashed $color-8;
        padding-top: 17px;

        h3{
            margin-bottom: 8px;
        }

        address{
            line-height: 2;
        }

        @media (max-width: $screen-xs-max) { // max 767px
            .col2-set .col-1{
                width: 50%;
            }
            .col2-set .col-2{
                width: 50%;
                padding-left: 5px;
            }
        }
    }
}

.address-wrapper{
    header{
        background: none;
    }
}
header.title{
    background: none;
}

// Update css Select 2 css
.select2-search input[type="text"],
.select2-search input.input-text{
    width: 100%;
    max-width: none;
}

