/* ============================================ *
 * 8. Product Page - Woocommer
 * ============================================ */
 
.woocommerce {
    div.product {
        div.images {
            div.thumbnails {
                padding: 20px 10px;
                @media (max-width: $screen-sm-max) { //991px
                  padding: 10px 3px;
                }
                .owl-wrapper-outer, .owl-stage-outer {
                    padding: 0 !important;
                    .owl-item {
                        padding: 0 5px;
                        @media (max-width: $screen-sm-max) { //991px
                          padding: 0 7.5px;
                        }
                        a {
                          border: 5px solid $light-border-color;
                          margin-right: 0;
                          @media (max-width: $screen-sm-max) { //991px
                          border: none;
                          }
                          &.active {
                            border: 5px solid $color-6;
                            @media (max-width: $screen-sm-max) { //991px
                              border: none;
                              &:before{
                                width: 34px;
                                height: 34px;
                                content: "\f00c";
                                font: 17px/34px $font-icon;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin:-17px 0 0 -17px ;
                                text-align: center;
                                background: #fff;
                                @include box_shadow( $main_boxshahow );
                                @include border_radius( 3px);
                                z-index: 10;
                              }
                            }
                          }
                        }
                    }
                }
                .owl-controls {
                    .owl-prev {left: -15px;}
                    .owl-next {right: -15px;}
                }

            }
        }
    }
}

.nth-quickshop-wrapper {
  .btn_zoom {
    display: none;
  }
}

.nth-quickshop-wrapper,
.woocommerce-page {

    .content-wrapper.single-product {
      .nth-content-main {
        @media (max-width: $screen-sm-max) { //991px
          padding-right: 5px;
        }
        @media (max-width: $screen-xs-max) { //767px
          padding-right: 15px;
        }

      }
      .nth-content-right {
        padding-left: 13px;
        @media (max-width: $screen-xs-max) { //767px
          display: none;
        }

      }

    }
    #content{
        div.product {
            .product-image-summary-wrapper {
              @media (max-width: $screen-xs-max) { //767px
                background: $color_light;
                width: 100%;
                display: block;
                float: left;
                margin-bottom: 10px;
                @include border-radius( 3px);
                @include box_shadow( 0 1px 3px 1px rgba(0, 0, 0, 0.15) );
              }
            }
            div.images{
                a.zoom1 {
                  cursor: default;
                }
                .zoomContainer {
                  top: 0 !important;
                  left: 0 !important;
                  z-index: 10 !important;
                }
                width: 54.02298850574713%;
                background: #fff;
                @include box_shadow( $main_boxshahow );
                @include border_radius( 0 0 5px 5px);
                margin-right:3.4482758620689655%;
                margin-bottom: 60px;
                position: relative;

                @media (max-width: $screen-sm-max) { // max 991px
                    float: left;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    width: 56.86274509803921%;
                }
                @media (max-width: $screen-xs-max) { //767px
                  width: 100%;
                  margin-right: 0;
                }

                .owl-carousel{
                  .owl-wrapper-outer, .owl-stage-outer{
                    padding: 0;
                    .owl-item {
                      a{
                        display: block;
                      }
                    }
                  }
                }
                .thumbnails{
                    a{
                        color: $color_d;
                        position: relative;
                        margin-bottom: 0;
                        margin-right: 0;
                        &.active{
                            /*&:before{
                                width: 34px;
                                height: 34px;
                                content: "\f00c";
                                font: 17px/34px $font-icon;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin:-17px 0 0 -17px ;

                                text-align: center;
                                background: #fff;
                                @include box_shadow( $main_boxshahow );
                                @include border_radius( 3px);

                            }*/
                        }
                        &.video_thumbnail {
                          &:before {
                            content: '';
                            background: url('images/play_icon.png');
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            width: 15px;
                            height: 18px;
                            margin-left: -7.5px;
                            margin-top: -9px;
                            z-index: 10;
                          }
                        }
                    }
                }

                .btn_zoom {
                  display: block;
                  width: 40px;
                  height: 40px;
                  position: absolute;
                  bottom: 20px;
                  right: 20px;
                  z-index: 9999;
                  text-align: center;
                  @include border_radius( 5px );
                  background: $color_light;
                  &:before {
                    font-size: 18px;
                    line-height: 38px;
                  }
                  @media (max-width: $screen-sm-max) { //991px
                    display: none !important;
                  }
                }
            }
            div.summary {
                font-size: 12px;
                width:  42.528735632183906%;
                margin-bottom: 0;
                overflow: hidden;
                @media (max-width: $screen-sm-max) { // max 991px
                  width: 39.21568627450981%;
                  margin-bottom: 20px;
                  float: right;
                }
                @media (max-width: $screen-xs-max) { //767px
                  width: 100%;
                  padding: 0 20px;
                }
            }

            .nth-social-share {
              ul {
                list-style: none;
              }
              @media (max-width: $screen-xs-max) { //767px
                display: inline-block;
              }
            }
            .related{
              padding-top: 15px;
              @media (max-width: $screen-xs-max) { //767px
                padding-top: 0;
              }
              .heading-title{
                //padding-bottom: 0;
                //&:after{
                //  display: none;
                //}
                //@media (max-width: $screen-xs-max) { //767px
                //    text-align: center;
                //}
              }

              .nth-compare {
                @media (max-width: $screen-md-max) { //max 1119px
                  display: none;
                }
              }

              .products {
                section.product {
                  .product-inner {
                    &:hover{
                      .product-meta-wrapper {
                        .prod-meta-hover{
                          //max-height: initial;
                        }
                      }
                    }
                    .nth-product-colour {
                      //max-height: initial;
                      @media (max-width: $screen-xs-max) { //767px
                        text-align: center;
                      }
                    }
                    .yotpo {
                      margin-bottom: 0;
                      /*&.yotpo-small {
                        margin-bottom: 0;
                      }*/
                      @media (max-width: $screen-xs-max) { //767px
                        margin-bottom: 10px;
                      }

                    }
                  }
                }
              }

            }
        }

    }



    div.product {
        .stock {
            margin-bottom: 0;
            margin-top: 3px;
            font-size: 12px;
            @include border_radius( 5px );
            font: 500 14px/30px $font-custom-a;
            padding: 0 10px;
            text-transform: uppercase;
            margin-top: 9px;
            display: inline-block;
            color: $color_light;
        }

        .product_title{
            font: 700 26px $font-family;
            color: $color_d_drak;
            margin-bottom: 5px;
            letter-spacing: -0.03em;
            @media (max-width: $screen-sm-max) { //991px
              font-size: 20px;
            }
        }
        .description {
          line-height: 20px;
        }
        .woocommerce-product-rating{
            margin-bottom: 10px;
            .star-rating{
                font-size: 12px;
                + a{
                    font-size: 11px;
                    color: $color_a;
                }
            }
        }

        .yotpo.bottomLine.yotpo-small {
          margin-bottom: 12px;
        }
        .nth-single-product-share {
            margin: 10px 0 34px;
            padding-left: 0px;
            overflow: hidden;
            list-style: none;
            @media (max-width: $screen-sm-max) { //991px
              margin-bottom: 15px;
            }
            li {
                float: left;
                font-size: 11px;
                margin-right: 15px;
                a{
                    color: $color_d_light;
                    text-decoration: underline;
                    i {
                      color: $color_d;
                      font-weight: bold;
                      font-size: 13px;
                      margin-right: 6px;
                      margin-left: 1px;
                    }
                }

            }
        }
        .product_meta{
            clear: both;
            margin-bottom: 30px;
            margin-top: 0;
            font: 700 12px/24px $font-family;
            @media (max-width: $screen-sm-max) { //991px
              margin-bottom: 15px;
            }
            > span {
                display: block;
              a {
                font-weight: normal;
              }
            }
            .in-stock{
                background: $color_b;
            }
            .out-of-stock {
                background: $color_e_drak;
            }
        }

        .woocommerce-product-box-wrapper{
            @include border_radius(5px);
            background: #ececec;
            padding: 19px;
            margin-bottom: 15px;
            @media (max-width: $screen-sm-max) { //991px
              background: transparent;
              padding: 0;
            }

            .price{
                font-size: 24px;
                margin-bottom: 0 !important;
                line-height: 100%;
                span.amount{
                    font-size: 24px;
                    display: inline-block;
                    vertical-align: top;
                }
                del{
                    span.amount{
                        font-size: 12px;
                        display: block;
                    }
                }
            }
            .product-labels{
                position: static;
                float: left;
                .featured {
                    display: none;
                }
                .onsale{
                    font-size: 26px;
                    position: static;
                    display: inline-block;
                    padding: 9px 10px 10px;
                    margin: 0 4px 0 0;
                }
            }
            .product-labels + div {
                overflow: hidden;
            }

            tr td label {
              color: $color_d_drak;
            }

            .nth-countdown {
              position: relative;
              top: 0;
              left: 0;
              @include border_radius(5px);
              margin-top: 5px;
              width: auto;
            }
        }

        form.cart,
        p.cart,
        div.cart,
        {
            clear: both;
            margin-bottom: 0;
            border-top: 1px dashed #d4d4d4;
            padding-top: 20px;
            margin-top: 13px;
            .variations{
                font-size: 13px;
                width: 100%;
                margin-bottom: 14px;
                border-bottom: 1px dashed #d4d4d4;
                @include box-shadow( none);
                background: none;
                tr:first-child  td {
                    padding-top: 5px;
                }
                tr {
                    td {padding-bottom: 15px;}
                }
                td {
                    vertical-align: middle;
                    &:first-child {
                        min-width: 65px;
                        text-transform: capitalize;
                        line-height: 30px;
                        text-align: left;
                    }

                }
                label{
                    font-weight: 400;
                    display: inline-block;
                }
                div.quantity{
                    border: none;
                    float: left;
                    width: auto;
                    margin-right: 10px;
                    padding-bottom: 0;
                }
            }
            div.quantity{
                width: 100%;
                border-bottom: 1px dashed #d4d4d4;
                padding-bottom: 20px;
                margin-bottom: 6px;
            }
            .single_add_to_cart_button {
                min-width: 225px;
                @media (max-width: $screen-sm-max) { //991px
                  min-width: 108px;
                  padding-left: 5px;
                  padding-right: 5px;
                }
                @media (max-width: $screen-xs-max) { //767px
                  min-width: 146px;
                }

                + a.nth-compare{
                    float: right;
                    margin-left: 5px;
                    margin-right: 0;
                    @media (max-width: $screen-xs - 1) { // max 479px
                        float: left;
                        margin-left: 0;
                        margin-right: 5px;
                        margin-top: 5px;
                        clear: both;
                    }
                    + .yith-wcwl-add-to-wishlist{
                        float: right;
                        margin-left: 0;
                        margin-right: 0;
                        @media (max-width: $screen-xs - 1) { // max 479px
                            float: left;
                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 5px;
                        }
                    }
                }

            }
            a.nth-compare,
            .yith-wcwl-add-to-wishlist{
                float: right;
                margin-left: 5px;
                @media (max-width: $screen-sm-max) { //991px
                  display: block;
                }
            }


            .group_table{
                margin-bottom: 0;
                border-bottom: 1px dashed #d4d4d4;
                td{
                    padding-bottom: 20px;
                    float: none;
                    display: inline-block;
                    span{
                        vertical-align: middle!important;
                    }
                    &.label{
                        padding-top:8px;
                    }
                }
                div.quantity{
                    border: none;
                    margin-right: 10px;
                    padding-bottom: 0;
                }
                /*.stock{
                    @include border_radius( 3px );
                    background: $color_b;
                    font: 500 14px/30px $font-custom-a;
                    color: $color_light;
                    padding: 0 10px;
                    text-transform: uppercase;
                    margin-top: 5px;
                } */
            }
        }

        form.cart {
          .variations {
            tr > td:first-child {
              width: 35px;
            }
          }
        }
        .summary {
            .variations {
                .nth-variable-attr-swapper {
                    font-size: 0;
                    margin-bottom: 5px;
                    .select-option {
                        display: inline-block;
                        min-width: 38px;
                        line-height: 30px;
                        background-color: #dadada;
                        @include border_radius(5px);
                        margin-right: 10px;
                        margin-bottom: 3px;
                        text-align:center;
                        cursor: pointer;
                        font-size: 13px;
                        @include transition( all .5s ease );
                        &:hover,
                        &.selected {
                            background-color: #ffffff;
                            @include box_shadow(0 1px 3px 0 rgba(0,0,0,0.2));
                        }
                    }
                    &.attr-color {
                        .select-option {
                            font-size: 0;
                            width: 16px;
                            height: 16px;
                            min-width: 0;
                            @include border_radius(50%);
                            border: 1px solid transparent;

                            &[data-value*="white"]{
                                border-color: #d5d5d5;
                            }
                            &:hover,
                            &.selected {
                                @include transform(scale(1.25)) ;
                                @include box_shadow(0 1px 1px rgba(0,0,0,0.4));
                            }
                        }

                    }
                }
            }
            .yotpo {
              .yotpo-stars {
                .yotpo-icon {
                  font-size: 15px !important;
                }
              }
            }
        }
        .yotpo  {
          .font-color-gray {
            color: $color_d_light !important;
          }
          .yotpo-display-wrapper {
            span.yotpo-display-wrapper {
              border-bottom: 1px $base-border-color dotted;
              display: block;
              .yotpo-stars-and-sum-reviews {
                .yotpo-stars {
                  span.yotpo-icon {
                    font-size: 23px !important;
                    line-height: initial !important;
                  }
                }
                .yotpo-sum-reviews {
                  font-size: 11px !important;
                  line-height: initial !important;
                  padding: 0;
                }
              }

              .yotpo-default-button.write-review-button {
                margin-bottom: 0 !important;
              }

              &:before, &:after {
                content: " ";
                display: table;
                clear: both;
              }
              & > .yotpo-regular-box {
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-bottom: 0;
              }
            }
            & > .write-form {
              & > .write-review.yotpo-regular-box {
                background: none;
                @include box_shadow( none );
                padding: 20px 0 !important;
                margin-bottom: 0;
                border-bottom: 1px dotted $base-border-color;
                @include border-radius(0);
                .yotpo-header, .write-review-content {
                  label.y-label {
                    color: $color_d !important;
                    font: 700 14px/30px $font-custom-a !important;
                  }
                  .y-input, input {
                    font: normal 12px/20px $font-family !important;
                    color: $color_d !important;
                    @include border-radius( 4px);
                  }
                  .stars-wrapper  {
                    .yotpo-icon {
                      font-size: 23px !important;
                    }
                  }
                }
                .yotpo-header {
                  margin-bottom: 10px !important;
                }
                .write-review-content {
                  .y-input {
                    margin-top: 4px !important;
                    margin-bottom: 15px !important;
                  }
                }
                .yotpo-submit {
                  float: left !important;
                  margin-top: 0 !important;
                  margin-bottom: 0;
                  //padding: 7.5px;
                  min-width: 57px !important;
                }
              }
            }
            .text-m {
              display: inline-block !important;
              font: normal 11px $font-family !important;
              padding-top: 2px;
            }
            .yotpo-stars {
              font-size: 14px !important;
            }


            .yotpo-small-box.yotpo-nav {
              padding-top: 18px !important;
            }

            .yotpo-nav-content {
              .yotpo-reviews {
                div.yotpo-regular-box {
                  margin: 0 0 12px 0;
                  position: relative;
                  .yotpo-header {
                    .yotpo-header-title {
                      font-size: 14px !important;
                      font-weight: bold !important;
                      color: $color_d;
                    }
                    
                    .yotpo-header-element {
                      padding-top: 0 !important;
                      .y-label.yotpo-user-name{
                        & + .yotpo-clr {
                          clear: none !important;
                        }
                      }
                      .yotpo-review-stars {
                        margin-top: 3px !important;
                        margin-right: 0 !important;
                        .yotpo-icon{
                          font-size: 15px !important;
                        }
                      }
                    }
                  }
                  /*.yotpo-footer {

                    &.yotpo-animation-opacity{
                      top: auto !important;
                      bottom: 20px;
                      left: 20px;
                    }

                  }*/
                  &.yotpo-review, &.yotpo-comment,  &.yotpo-question{
                    .yotpo-main {
                      margin-bottom: 0 !important;
                      margin-left: 0 !important;
                    }
                  }

                }

                .yotpo-first-review {
                  .yotpo-first-review-stars {
                    .yotpo-icon {
                      font-size: 23px !important ;
                      color: $review_star_color !important;
                    }
                  }

                }
              }
            }
          }

          .yotpo-messages {
            margin-bottom: 10px;
            .yotpo-thank-you {
              @include border_radius( 5px );
              @include box_shadow( $main_boxshahow );
            }
          }
        }

    }

    #reviews{
        h3{
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-weight: 700;
        }
        .comment-form {
            label{
                font-weight: 700;
                font-size: 14px;
                display: block;
                margin-bottom: 10px;
            }
        }
        #comments{
            h2{
                font-size: 20px;
                margin-bottom: 5px;
            }
            ol.commentlist{
                margin-bottom: 44px;
                padding-left: 0px;
                li{
                    @include box_shadow(0 1px 2px 0 rgba(0,0,0,0.2));
                    background: #fff;
                    @include border_radius(5px);
                    padding: 19px 19px ;
                    margin-bottom: 10px;
                    img.avatar{
                        position: static;

                    }
                    .comment-text{
                        border: none;
                        padding: 0;
                        p.meta{
                            font-size: 1em;
                            margin-bottom: 9px;
                        }
                    }
                    .star-rating{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    p.stars{
        a{
            &:hover{
                color: $review_star_color;
            }
        }
    }

    .col2-set{
        .col-1{
            width: 50%;
            margin-bottom: 10px;
            float: left;
            @media (max-width: $screen-xs-max) { // max 767px
                width: 100%;
                overflow: hidden;
            }
        }
        .col-2{
            width: 50%;
            float: left;
            padding-left: 20px;
            @media (max-width: $screen-xs-max) { // max 767px
                width: 100%;
                padding-left: 0;
            }
        }
    }

    .nth-content-right {
      ul.widgets-sidebar {
        .nth_stblock_widget {
          font-size: 12px;
          .widget-heading {
            display: none;
            & + div {
              @include border-radius( 5px);
              @include box-shadow( $main_boxshahow );
            }
          }
          /*& > .vc_row {
            padding-top: 60px !important;
            padding-bottom: 12px;
            border-top: 1px solid $base-border-color;
            @include border-radius( 5px);
            @include box-shadow( none);
            @media (max-width: $screen-sm-max) { //991px
              padding-top: 22px !important;
            }
            .wpb_column {
              .wpb_text_column {
                padding-bottom: 15px !important;
                .wpb_wrapper {
                  & + p {
                    margin-bottom: 13px;
                  }
                }
              }
            }
          }*/
          .nth-infobox {
            @media (max-width: $screen-sm-max) { //991px
              /*padding: 0;*/
              .nth-icon {
              float: left;
              margin-right: 10px;
              }
            }
            h3.infobox-title {
              margin-bottom: 0;
              font-family: $font-custom-a;
              line-height: 1;
              text-transform: none;
            }
            &:last-child {
              padding-bottom: 0!important;
            }
          }
        }

        .nth-woo-products-widget {
          .content-inner {
            ul.product_list_widget {
              li {
                .product-title {
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }

    }

    /*div.pp_woocommerce {
      .pp_content_container {
        .pp_hoverContainer {
          .pp_arrow_next:before {
            content: "k";
          }
          .pp_arrow_previous:before {
            content: "j";
          }
          .pp_arrow_next, .pp_arrow_previous { 
            position: absolute;
            top: 50%;
            display: none;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: #fff;

            &:hover {
              background: #fff;
            }
            &::before {
              font-family: "nthTheshopier";
              font-size: 22px;
              line-height: 40px;
              color: #777;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-style: normal !important;
              font-weight: normal !important;
              font-variant: normal !important;
              text-transform: none !important;
              speak: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

          }
        }
      }
    }*/
    div.pp_woocommerce {
      .pp_next, .pp_arrow_next {
        right: 0;
        &:before {
          content: 'j';
        }
      }
      .pp_previous, .pp_arrow_previous {
        left: 0;
        &:before {
          content: 'k';
        }
      }
      .pp_hoverContainer {
        .pp_next, .pp_previous {
          display: none;
        }
        &:hover {
          .pp_next, .pp_previous {
            display: block;
            &:before {
              display: block;
            }
          }
        }
      }
      .pp_next, .pp_previous, .pp_arrow_next, .pp_arrow_previous{
        width: 40px;
        height: 40px;
        margin-top: 0;
        background: #fff;
        position: absolute;
        top: 50%;

        @include border-radius( 3px);
        @include box_shadow( 0 1px 3px 1px rgba(0, 0, 0, 0.15) );
        &:before {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          margin-top: 0;
          font-family: "nthTheshopier";
          font-size: 22px !important;
          line-height: 40px;
          color: #777 !important;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          background: transparent;
          text-shadow: none;
        }
      }



      .pp_close {
        display: block !important;
        @include border_radius( 0 );
        background-color: $color_c;
        line-height: 30px;
        height: 30px;
        width: 30px;
        top: 0;
        right: 0;
        &:before {
          font: normal normal normal 16px/1 FontAwesome !important;
          content: "\f00d";
          padding: 5px;
          width: 30px;
          color: $color_light;
        }
        &:hover {
          background-color: $color_c;
        }
      }

      .pp_expand {
        display: block ;
        @include border_radius( 0 );
        background-color: $color_c;
        line-height: 30px;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0;
        &:hover {
          background-color: $color_c;
        }
      }

      .pp_gallery {
        margin-top: -70px;
        ul{
          height: auto;
          li {
            a {
              border-color: transparent;
              background: transparent;
              @include box_shadow( none );
              height: auto;
            }
          }
        }
        .pp_arrow_next, .pp_arrow_previous {
          top: 10px;
        }
      }

      .pp_arrow_next, .pp_arrow_previous {
        width: 20px;
        height: 20px;
        position: relative;
        &:before {
          line-height: 20px;
          font-size: 12px !important;
        }
      }
    }

    .owl-theme {
      .owl-nav {
        @media (max-width: $screen-sm-max) {
          display: block;
        }
      }
    }
}

.woocommerce{
  div.product{
    .woocommerce-tabs{
      ul.tabs{
          font-size: 0;
          background: $color-7;
          padding: 0;
          @include border_radius( 5px );
          overflow: visible;
          &:before, &:after{
              display: none!important;
          }
          li{
              @include border_radius( 0 );
              border: none;
              padding: 0;
              margin: 0;
              background: $color-7;

              &:first-child{
                @include border-radius(5px 0 0 5px);
              }

              @media (max-width: $screen-xs-max) { // max 767px
                  width: 50%;
                  @include border_radius( 5px );
                  &:nth-child(2) {
                    @include border_radius( 5px );
                  }
              }

              &:before, &:after{
                  display: none;
              }

              &:hover,&.active {
                  @include box_shadow( 0 1px 2px 1px rgba(0,0,0,.1));
                  background: #fff;
                  z-index: 9;
              }
              a{
                  text-transform: uppercase;
                  font-family: $font-custom-a;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 10px 18px 9px;
                  @media (max-width: $screen-xs-max) { // max 767px
                      display: block;
                  }
              }
          }
      }
      .panel{
          @include box_shadow( none );
          background: none;
          &:not(#tab-yotpo_widget) {
            padding-top: 15px;
          }
      }
      @media (max-width: $screen-xs-max) { //767px
        margin-top: 35px;
      }
    }
  }
}
